<ValidatedField Legend="Status" ValidationMessageFor="@(() => LivestockStatus.Status)">
    <InputText placeholder="Status" @bind-Value="@LivestockStatus.Status" />
</ValidatedField>
<ValidatedField Legend="Default Status" ValidationMessageFor="@(() => LivestockStatus.DefaultStatus)">
    <InputCheckbox @bind-Value="@LivestockStatus.DefaultStatus" />
</ValidatedField>
<ValidatedField Legend="Being Managed" ValidationMessageFor="@(() => LivestockStatus.BeingManaged)">
    <InputSelect @bind-Value="@LivestockStatus.BeingManaged">
        @foreach (var state in StatusModes)
        {
            <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
        }
    </InputSelect>
</ValidatedField>
<ValidatedField Legend="Sterile" ValidationMessageFor="@(() => LivestockStatus.Sterile)">
    <InputSelect @bind-Value="@LivestockStatus.Sterile">
        @foreach (var state in StatusModes)
        {
            <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
        }
    </InputSelect>
</ValidatedField>
<ValidatedField Legend="In Milk" ValidationMessageFor="@(() => LivestockStatus.InMilk)">
    <InputSelect @bind-Value="@LivestockStatus.InMilk">
        @foreach (var state in StatusModes)
        {
            <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
        }
    </InputSelect>
</ValidatedField>
<ValidatedField Legend="Bottle Fed" ValidationMessageFor="@(() => LivestockStatus.BottleFed)">
    <InputSelect @bind-Value="@LivestockStatus.BottleFed">
        @foreach (var state in StatusModes)
        {
            <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
        }
    </InputSelect>
</ValidatedField>
<ValidatedField Legend="For Sale" ValidationMessageFor="@(() => LivestockStatus.ForSale)">
    <InputSelect @bind-Value="@LivestockStatus.ForSale">
        @foreach (var state in StatusModes)
        {
            <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
        }
    </InputSelect>
</ValidatedField>
