@using Domain.Constants;
@using Domain.Enums;
@if (livestockStatus is not null)
{
    <EditForm OnValidSubmit="OnSubmit" EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="dataSection">
            <ValidatedField Legend="Status" ValidationMessageFor="@(() => livestockStatus.Status)">
                <InputText placeholder="Status" @bind-Value="@livestockStatus.Status" />
            </ValidatedField>
            <ValidatedField Legend="Default Status" ValidationMessageFor="@(() => livestockStatus.DefaultStatus)">
                <InputCheckbox @bind-Value="@livestockStatus.DefaultStatus" />
            </ValidatedField>
            <ValidatedField Legend="Being Managed" ValidationMessageFor="@(() => livestockStatus.BeingManaged)">
                <InputSelect @bind-Value="@livestockStatus.BeingManaged">
                    @foreach (var state in StatusModes)
                    {
                        <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
                    }
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="Sterile" ValidationMessageFor="@(() => livestockStatus.Sterile)">
                <InputSelect @bind-Value="@livestockStatus.Sterile">
                    @foreach (var state in StatusModes)
                    {
                        <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
                    }
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="Sterile" ValidationMessageFor="@(() => livestockStatus.InMilk)">
                <InputSelect @bind-Value="@livestockStatus.InMilk">
                    @foreach (var state in StatusModes)
                    {
                        <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
                    }
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="Bottle Fed" ValidationMessageFor="@(() => livestockStatus.BottleFed)">
                <InputSelect @bind-Value="@livestockStatus.BottleFed">
                    @foreach (var state in StatusModes)
                    {
                        <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
                    }
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="For Sale" ValidationMessageFor="@(() => livestockStatus.ForSale)">
                <InputSelect @bind-Value="@livestockStatus.ForSale">
                    @foreach (var state in StatusModes)
                    {
                        <option value="@state">@(string.IsNullOrEmpty(state) ? "Select Status state ..." : state)</option>
                    }
                </InputSelect>
            </ValidatedField>
        </div>
    </EditForm>
}