@using Domain.Models;
@inherits DataComponent
@if (app != null)
{
    @if (_editStatus is not null || !Items.Any())
    {
        <CascadingValue Value="_editStatus">
            <LivestockStatusEditor @ref="_statusEditor" Submitted="@StatusUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></LivestockStatusEditor>
        </CascadingValue>
    }
    else
    {
        <TableTemplate @ref="_listComponent" PageSize="0" TItem="LivestockStatusModel"
                       Items="@Items"
                       MultiSelect="@Multiselect"
                       Selectable="@Selectable"
                       OnSelectionChange="@TableItemSelected"
                       CanDelete="@CanDelete">
            <ColumnContent>
                <Column TableItem="LivestockStatusModel" Field="@(x => x.Id)" Title="ControlColumn">
                    <Template Context="e">
                        <button type="button" onclick="@(()=> EditStatus(e.Id))">Edit</button>
                        @if (CanDelete)
                        {
                            <button type="button">Delete</button>
                        }
                    </Template>
                </Column>
                <Column TableItem="LivestockStatusModel" Field="@(x => x.Status)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockStatusModel" Field="@(x => x.DefaultStatus)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockStatusModel" Field="@(x => x.BeingManaged)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockStatusModel" Field="@(x => x.Sterile)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockStatusModel" Field="@(x => x.InMilk)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockStatusModel" Field="@(x => x.BottleFed)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockStatusModel" Field="@(x => x.ForSale)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            </ColumnContent>
        </TableTemplate>
    }
}