@using Domain.Models;
@inherits DataComponent
@if (app != null)
{
    @if (_editDuty is not null || !Items.Any())
    {
        <CascadingValue Value="_editDuty">
            <DutyEditor @ref="_DutyEditor" Submitted="@DutyUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></DutyEditor>
        </CascadingValue>
    }
    else
    {
        <TableTemplate @ref="_listComponent" PageSize="0" TItem="DutySummary"
                       Items="@Items"
                       MultiSelect="@Multiselect"
                       Selectable="@Selectable"
                       OnSelectionChange="@TableItemSelected"
                       CanDelete="@CanDelete"
                       RowDetailsShowing="@app.RowDetailsShowing["DutyList"]"
                       NewItemName="Duty"
                       AddItemClicked="@(async ()=>await EditDuty(0))">
            <ColumnContent>
                <Column TableItem="DutySummary" Field="@(x => x.Id)" Title="ControlColumn">
                    <Template Context="e">
                        <button type="button" onclick="@(()=> EditDuty(e.Id))">Edit</button>
                        @if (CanDelete)
                        {
                            <button type="button">Delete</button>
                        }
                    </Template>
                </Column>
                <Column TableItem="DutySummary" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="DutySummary" Field="@(x => x.Command)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="DutySummary" Field="@(x => x.CommandInstance)" Title="Command Instance" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="DutySummary" Field="@(x => x.RecipientType)" Title="Recipient" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="DutySummary" Field="@(x => x.RecipientInstance)" Title="Recipient Instance" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="DutySummary" Field="@(x => x.Relationship)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="DutySummary" Field="@(x => x.Gender)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            </ColumnContent>
        </TableTemplate>
    }
}