@using Domain.Constants;
@using Domain.Models;
@using FrontEnd.Components.Registrar;
@using FrontEnd.Components.Measure;
@using FrontEnd.Components.Treatment;
@inherits DataComponent<DutyModel>
@if (editContext is not null)
{
    <ValidatedForm editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   showUpdateCancelButtons="showUpdateCancelButtons"
                   Modal="Modal"
                   Show="Show"
                   @ref=_validatedForm>
        <DataContent>
            <ValidatedField Legend="Name" ValidationMessageFor="@(() => working.Name)">
                <InputText @bind-Value="working.Name"></InputText>
            </ValidatedField>
            <ValidatedField Legend="Command" ValidationMessageFor="@(() => working.Command)">
                <InputSelect @bind-Value="@Command">
                    <option value="0">Select Command ...</option>
                    <option value="@DutyCommandConstants.Birth">@nameof(DutyCommandConstants.Birth)</option>
                    <option value="@DutyCommandConstants.Breed">@nameof(DutyCommandConstants.Breed)</option>
                    <option value="@DutyCommandConstants.Complete">@nameof(DutyCommandConstants.Complete)</option>
                    <option value="@DutyCommandConstants.Measurement">@nameof(DutyCommandConstants.Measurement)</option>
                    <option value="@DutyCommandConstants.Registration">@nameof(DutyCommandConstants.Registration)</option>
                    <option value="@DutyCommandConstants.Service">@nameof(DutyCommandConstants.Service)</option>
                    <option value="@DutyCommandConstants.Treatment">@nameof(DutyCommandConstants.Treatment)</option>
                    @*<option value="@DutyCommandConstants.Reap">@nameof(DutyCommandConstants.Reap)</option>
                    <option value="@DutyCommandConstants.Feed">@nameof(DutyCommandConstants.Feed)</option>
                    <option value="@DutyCommandConstants.Photograph">@nameof(DutyCommandConstants.Photograph)</option>
                     *@
                </InputSelect>
            </ValidatedField>
            @if (showCommandId())
            { 
                <ValidatedField ValidationMessageFor="@(() => working.CommandId)">
                    <LegendContent>
                        <div style="display:inline-flex">
                            <span>@commandLabel()</span><button type="button" @onclick=ShowCommandEditor>+ @(showCommandModal)</button>
                                <RegistrarEditor @ref=_registrarEditor Modal="true" Show="@showCommandModal" showUpdateCancelButtons="true" Submitted="CommandCreated" Cancelled="CommandCanceled"></RegistrarEditor>
                                               @* <MeasureEditor @ref=_measureEditor Modal="true" Show="@(showCommandModal && working.Command == DutyCommandConstants.Measurement)" showUpdateCancelButtons="true" Submitted="CommandCreated" Cancelled="CommandCanceled"></MeasureEditor>
                            <TreatmentEditor @ref=_treatmentEditor Modal="true" Show="@(showCommandModal && working.Command == DutyCommandConstants.Treatment)" showUpdateCancelButtons="true" Submitted="CommandCreated" Cancelled="CommandCanceled"></TreatmentEditor> *@
                        </div>
                    </LegendContent>
                    <ChildContent>
                        <InputSelect @bind-Value="@working.CommandId">
                            <option value="0">Select Command Instance ...</option>
                            @foreach (var command in commandIds())
                            {
                                <option value="@command.Key">@command.Value</option>
                            }
                        </InputSelect>
                    </ChildContent>
                </ValidatedField>
            }
            @if (!string.IsNullOrEmpty(working.Command) && working.Command != DutyCommandConstants.Complete)
            {
                <ValidatedField Legend="Recipient Type" ValidationMessageFor="@(() => working.RecipientType)">
                    <InputSelect @bind-Value="@working.RecipientType">
                        <option value="0">Select Recipient Type ...</option>
                        <option value="@RecipientTypeConstants.LivestockAnimal">@nameof(RecipientTypeConstants.LivestockAnimal)</option>
                    </InputSelect>
                </ValidatedField>
                <ValidatedField Legend="Recipient Type Id" ValidationMessageFor="@(() => working.RecipientTypeId)">
                    <InputSelect @bind-Value="@working.RecipientTypeId">
                        <option value="0">Select Recipient Type Instance ...</option>
                        @foreach (var recipient in recipientTypeIds())
                        {
                            <option value="@recipient.Key">@recipient.Value</option>
                        }
                    </InputSelect>
                </ValidatedField>
            }
            @if (working.RecipientType == RecipientTypeConstants.LivestockAnimal)
            { 
                <ValidatedField Legend="Gender" ValidationMessageFor="@(() => working.Gender)">
                    <InputSelect @bind-Value="@working.Gender">
                        <option value="">Select Gender ...</option>
                        <option value="@GenderConstants.Female">@nameof(GenderConstants.Female)</option>
                        <option value="@GenderConstants.Male">@nameof(GenderConstants.Male)</option>
                    </InputSelect>
                </ValidatedField>
                <ValidatedField Legend="Relationship" ValidationMessageFor="@(() => working.Relationship)">
                    <InputSelect @bind-Value="@working.Relationship">
                        <option value="0">Select Relationship ...</option>
                        <option value="@DutyRelationshipConstants.Self">@nameof(DutyRelationshipConstants.Self)</option>
                        <option value="@DutyRelationshipConstants.Mother">@nameof(DutyRelationshipConstants.Mother)</option>
                        <option value="@DutyRelationshipConstants.Father">@nameof(DutyRelationshipConstants.Father)</option>
                    </InputSelect>
                </ValidatedField>
            }
            <ValidatedField Legend="Number of Days from Event to schedule working" ValidationMessageFor="@(() => working.DaysDue)">
                <InputNumber @bind-Value="working.DaysDue"></InputNumber>
            </ValidatedField>
        </DataContent>
    </ValidatedForm>
}