@if (app is not null && livestockType is not null)
    {
        <Wizard Id="@this.GetType().Name" @ref=@wizard CanStepAdvance="@CanStepAdvance" CanStepRetreat="@CanStepRetreat" IsNestedWizard="@IsNestedWizard">
            <WizardStep Name="@Step1" >
                <p>Please enter information about the type of livestock you want to produce</p>
                <LivestockFeedEditor @ref="livestockFeedEditor" livestockFeed="@livestockFeed" livestockFeedId="@livestockFeed.Id" Submitted="@LivestockFeedUpdated"></LivestockFeedEditor>
            </WizardStep>
            <WizardStep Name="@Step2">
                <p>What are the feed servings?</p>
                <CascadingValue Value="@livestockFeed">
                </CascadingValue>
            </WizardStep>
        </Wizard>
    }
