@page "/Land"

@using Domain.Constants
@using Domain.Models
@using FrontEnd.Persistence
@using MicroAgManager.Components.Shared
@using MicroAgManager.Services
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using MicroAgManager.Components.LandPlot
@using MicroAgManager.Components.Farm
@implements IDisposable
<PageTitle>Land</PageTitle>
<div class="Land">
    @if (appState.DbContext?.Tenants.Any() == true)
    {
        <TreeView Id="Land" >
            <TreeNode Id="Land>Farms" NodeName="Farms" DeselectWithParent="false" SelectParentWhenSelected="false">
                <NodeContent>
                    <section class="nodeContent">
                        <span>Farms</span>
                        @if (ApplicationState.CanAddFarm())
                        {
                            <NavLink @onclick:stopPropagation href=@(ApplicationState.CorrectedParametersUri(new(){{ "LandPlotId", "-1" }}))>add</NavLink>
                        }
                    </section>
                </NodeContent>
                <ChildContent>
                @foreach (var farm in appState.DbContext.Farms)
                {
                        var farmNodeId = $"Land>Farms>{nameof(FarmLocationModel)}.{nameof(FarmLocationModel.Id)}:{farm.Id}";
                        <TreeNode Id=@farmNodeId NodeName="@farm.Name"
                                  IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(farmNodeId))
                                  IsSelected=@(ApplicationState.SelectedTreeNodes.Contains(farmNodeId) || ApplicationState.FieldIsInQueryString($"FarmLocationId={farm.Id}"))
                                  OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})"
                                  OnNodeSelectClick="NodeSelectedByUser"
                                  OnSelectionChange="NodeSelectionChanged">
                            <NodeContent>
                                <section class="nodeContent">
                                    <span>@farm.Name</span> <NavLink @onclick:stopPropagation href=@(ApplicationState.CorrectedParametersUri(new(){{ "LandPlotId", "-1" },{ "FarmLocationId", farm.Id.ToString()}}))>add plot</NavLink>
                                </section>
                            </NodeContent>
                            <ChildContent>
                                @foreach (var usage in appState.DbContext.LandPlots.Select(p => p.Usage).Distinct().OrderBy(u => u))
                                {
                                    var usageNodeId = farmNodeId + $">{nameof(LandPlotModel)}.{nameof(LandPlotModel.Usage)}:{usage}";
                                    <TreeNode Id=@usageNodeId NodeName="@usage"
                                              IsSelected=@ApplicationState.SelectedTreeNodes.Contains(usageNodeId)
                                              OnNodeSelectClick="NodeSelectedByUser"
                                              OnSelectionChange="NodeSelectionChanged"></TreeNode>
                                }
                            </ChildContent>
                        </TreeNode>
                }
                </ChildContent>
            </TreeNode>
        </TreeView>
        <div>
            @if (FarmLocationId.HasValue)
            {
  
                <CascadingValue Value="@appState.DbContext.Farms.Find(FarmLocationId.Value)">
                        <FarmNameplate ShowAddress="true" ShowStreet="true" ShowCity="true" ShowState="true" ShowZip="true" ShowWeather="true" 
                            ShowEdit="@ApplicationState.FieldIsInQueryString(nameof(FarmLocationId))"
                            ShowNavigate="@ApplicationState.FieldIsInQueryString(nameof(FarmLocationId))"
                            NavigateText="back"
                                       OnNavigateClick="@(()=> ApplicationState.NavigateTo(new() { { nameof(FarmLocationId), string.Empty } }))">
                            @if (LandPlotId.HasValue || _addingPlot)
                            {
                                    @if (_addingPlot)
                                    {
                                        <LandPlotEditor Modal="true" Show="@_addingPlot" editContext="_addPlotContext" OnCancel="PlotAddCancelled" OnSubmit="PlotAddSubmitted"></LandPlotEditor>
                                    }
                                    else
                                    {
                                        <CascadingValue Value="LandPlot">
                                            <LandPlotNameplate ShowArea="true" ShowDescription="true" ShowUsage="true" ShowSubplots="true"
                                                               ShowEdit="@ApplicationState.FieldIsInQueryString(nameof(LandPlotId))"
                                                               ShowNavigate="@ApplicationState.FieldIsInQueryString(nameof(LandPlotId))"
                                                               NavigateText="back"
                                                               OnNavigateClick="@(()=> ApplicationState.NavigateTo(new() { { nameof(LandPlotId), string.Empty } }))">
                                                @if (LandPlot.Usage == nameof(LandPlotUseConstants.Livestock))
                                        {
                                                  <Livestock LocationId="@LandPlot.Id"></Livestock>
  
                                        }
                                    </LandPlotNameplate>
                                </CascadingValue>

                                    }
  
                            }
                        </FarmNameplate>
                </CascadingValue>
  
            }
            @if(!LandPlotId.HasValue)
            {
            <div>
                <LandPlotGrid farmNameFilterChanged="@((x) => {farmNameFilter=x; StateHasChanged();})"
                              parentPlotNameFilterChanged="@((x) => {parentPlotNameFilter=x; StateHasChanged();})"
                              plotNameFilterChanged="@((x) => {plotNameFilter=x; StateHasChanged();})"
                              usageFilterChanged="@((x) => {usageFilter=x; StateHasChanged();})"
                              Items="baseLandPlotQuery()"
                              ShowFarmColumn=@(ApplicationState.FarmSelectedFilter.Count!=1)
                              ShowUsageColumn=@(ApplicationState.UsageSelectedFilter.Count!=1)>
                </LandPlotGrid>
            </div>
            }
        </div>
    }
    else
    {
        <span>Initializing application </span>
    }
</div>


@code {
    [CascadingParameter] private ApplicationState appState { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "FarmLocationId")] public long? FarmLocationId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LandPlotId")] public long? LandPlotId { get; set; }

    LandPlotModel LandPlot = new();

    private long _landPlotId = -1;
    private int _LandPlotCount = 0;


    string farmNameFilter;
    string parentPlotNameFilter;
    string usageFilter;
    string plotNameFilter;

    private EditContext _addPlotContext;
    private bool _addingPlot = false;


    private void NodeSelectedByUser(TreeNode selectedNode) => NodeSelected(selectedNode, !selectedNode.IsSelected);
    private void NodeSelectionChanged(TreeNode selectedNode) => NodeSelected(selectedNode, selectedNode.IsSelected);

    private void NodeSelected(TreeNode selectedNode, bool selected)
    {
        var nodeId = selectedNode.Id;
        ApplicationState.UpdageSelectedNodeState(nodeId, selected);
        var nodes = nodeId.Split('>');
        foreach (var node in nodes)
            if (node.Contains(':'))
            {
                var entityKeyValue = node.Split(':');
                if (entityKeyValue[0] == $"{nameof(FarmLocationModel)}.{nameof(FarmLocationModel.Id)}" && long.TryParse(entityKeyValue[1], out var farmId))
                    FarmSelected(selected, farmId);
                if (entityKeyValue[0] == $"{nameof(LandPlotModel)}.{nameof(LandPlotModel.Usage)}")
                    UsageSelected(selected, entityKeyValue[1]);
            }
    }



    private void FarmSelected(bool selected, long farmId)
    {
        if (selected)
        {
            if (!ApplicationState.FarmSelectedFilter.Contains(farmId)) ApplicationState.FarmSelectedFilter.Add(farmId);
        }
        else
        {
            if (ApplicationState.FarmSelectedFilter.Contains(farmId)) ApplicationState.FarmSelectedFilter.Remove(farmId);
        }
        StateHasChanged();
        if (ApplicationState.FarmSelectedFilter.Count != 1)
            ApplicationState.NavigateTo(new() { { "FarmLocationId", string.Empty } });
        else if (FarmLocationId != ApplicationState.FarmSelectedFilter[0])
            ApplicationState.NavigateTo(new() { { "FarmLocationId", ApplicationState.FarmSelectedFilter[0].ToString()}});
    }

    private void UsageSelected( bool selected, string usage)
    {
        
        if (selected)
        {
            if (!ApplicationState.UsageSelectedFilter.Contains(usage))
                ApplicationState.UsageSelectedFilter.Add(usage);
        }
        else
        { 
            if (ApplicationState.UsageSelectedFilter.Contains(usage))
                ApplicationState.UsageSelectedFilter.Remove(usage);
        }
    }

    protected override void OnInitialized()
    {
        appState.OnDbInitialized += Refresh;
        appState.OnDbUpdate += Refresh;
        appState.OnLocationChange += Refresh;
    }
    private void Refresh() => StateHasChanged();
    public void Dispose()
    {
        appState.OnDbInitialized -= Refresh;
        appState.OnDbUpdate -= Refresh;
        appState.OnLocationChange -= Refresh;
    }
    protected override void OnParametersSet()
    {
        if ((!LandPlotId.HasValue && !FarmLocationId.HasValue) || (appState.DbContext?.Tenants.Any() != true))
        {
            base.OnParametersSet();
            return;
        }
        _landPlotId = LandPlotId.HasValue ? LandPlotId.Value : -1;
        LandPlot = appState.DbContext.LandPlots.Find(_landPlotId) ?? new();
        if (_landPlotId < 1 && FarmLocationId.HasValue)
            LandPlot.FarmLocationId = FarmLocationId.Value;

        if (_landPlotId > 0 && LandPlot.FarmLocationId != FarmLocationId)
            FarmLocationId = LandPlot.FarmLocationId;
        _addPlotContext = new EditContext(LandPlot);
        _addingPlot = LandPlotId < 1;
        StateHasChanged();
    }

    private void PlotAddCancelled(EditContext context) => ApplicationState.NavigateTo(new() { { "LandPlotId", string.Empty } });
    private void PlotAddSubmitted(EditContext context) => ApplicationState.NavigateTo(new() { { "LandPlotId", (context.Model as LandPlotModel)?.Id.ToString()}});
        
    private IQueryable<LandPlotModel> baseLandPlotQuery()
    {
        var query = appState.DbContext.LandPlots.Include(p => p.Farm).Include(p => p.ParentPlot).Include(p => p.AreaUnit).AsQueryable();
        if (_landPlotId > 0)
            query = query.Where(p => p.Id == _landPlotId);
        else
        {
            if (ApplicationState.FarmSelectedFilter.Any())
                query = query.Where(p => ApplicationState.FarmSelectedFilter.Contains(p.FarmLocationId));
            if (ApplicationState.UsageSelectedFilter.Any())
                query = query.Where(p => ApplicationState.UsageSelectedFilter.Contains(p.Usage));
            if (!string.IsNullOrEmpty(plotNameFilter))
                query = query.Where(p => p.Name.Contains(plotNameFilter));
        }
        _LandPlotCount = query.Count();
        return query.ToList().AsQueryable();
    }
}
