@page "/Livestock"
@using Domain.Constants
@using Domain.Models
@using FrontEnd.Persistence
@using MicroAgManager.Components.ScheduledDuty
@using MicroAgManager.Services
@using MicroAgManager.Components.Shared
@using MicroAgManager.Components.Livestock
@using Microsoft.EntityFrameworkCore
@using MicroAgManager.Components.Measurement
<PageTitle>Livestock</PageTitle>
<div class="Livestock">
    @if (appState.DbContext.Tenants.Any())
    {
        @if(ShowTree)
        {
        <TreeView Id="Livestock">
            <TreeNode Id="Livestock>Animals" NodeName="Animals">
                <NodeContent>
                    <section class="nodeContent">
                        <span>Animal</span>
                        <NavLink @onclick:stopPropagation href=@(ApplicationState.CorrectedParametersUri(new(){{ "LivestockId", "-1" }}))>add</NavLink>
                    </section>
                </NodeContent>
                <ChildContent>
                    @foreach (var animal in appState.DbContext.LivestockAnimals)
                    {
                        var animalNodeId = $"Livestock>Animals>{nameof(LivestockAnimalModel)}.{nameof(LivestockAnimalModel.Id)}:{animal.Id}";
                        <TreeNode Id="@animalNodeId" NodeName="@animal.Name"
                                  IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(animalNodeId))
                                  IsSelected=@ApplicationState.SelectedTreeNodes.Contains(animalNodeId)
                                  OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})"
                                  OnNodeSelectClick="NodeSelectedByUser"
                                  OnSelectionChange="NodeSelectionChanged">
                            <NodeContent>
                                <section class="nodeContent">
                                    <span>@animal.Name</span><NavLink @onclick:stopPropagation href=@(ApplicationState.CorrectedParametersUri(new(){{ "LivestockAnimalId", animal.Id.ToString() },{ "LivestockId", "-1" }}))>add</NavLink>
                                </section>
                            </NodeContent>
                            <ChildContent>
                                @if (appState.DbContext.LivestockStatuses.Any(s => s.LivestockAnimalId == animal.Id))
                                {
                                    <TreeNode Id="@(animalNodeId+">Breeds")" NodeName="Breeds"
                                              IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(animalNodeId+">Breeds"))
                                              OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})">
                                        <NodeContent>
                                            <section class="nodeContent">
                                                <span>Breeds (@appState.DbContext.LivestockBreeds.Count(b=>b.LivestockAnimalId==animal.Id))</span><NavLink @onclick:stopPropagation
                                                                            href=@(ApplicationState.CorrectedParametersUri(new(){{ "LivestockBreedId", "-1" },{ "LivestockAnimalId", animal.Id.ToString() }}))>add</NavLink>
                                            </section>
                                        </NodeContent>
                                        <ChildContent>
                                            @foreach (var breed in appState.DbContext.LivestockBreeds.Where(b=>b.LivestockAnimalId==animal.Id).OrderBy(b=>b.Name))
                                            {
                                                var breedNodeId = animalNodeId + $">{nameof(LivestockBreedModel)}.{nameof(LivestockBreedModel.Id)}:{breed.Id}";
                                                <TreeNode Id="@breedNodeId" NodeName="@breed.Name"
                                                          IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(breedNodeId))
                                                          IsSelected=@ApplicationState.SelectedTreeNodes.Contains(breedNodeId)
                                                          OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})"
                                                          OnNodeSelectClick="NodeSelectedByUser"
                                                          OnSelectionChange="NodeSelectionChanged">
                                                    <NodeContent>
                                                        <section class="nodeContent">
                                                            <span>@BreedNodeSummary(breed)</span><NavLink @onclick:stopPropagation
                                                                href=@(ApplicationState.CorrectedParametersUri(new(){{ "LivestockId", "-1" },
                                                                { "LivestockAnimalId", breed.LivestockAnimalId.ToString()},
                                                                { "LivestockBreedId", breed.Id.ToString() }}))>add</NavLink>
                                                        </section>
                                                    </NodeContent>
                                                </TreeNode>
                                            }
                                        </ChildContent>
                                    </TreeNode>
                                    @* <TreeNode Id="@(animalNodeId+">Feeds")" NodeName="Feeds"
                        IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(animalNodeId+">Feeds"))
                        OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})">
                                        <NodeContent>
                                            <section class="nodeContent">
                                                <span>Feeds</span><NavLink @onclick:stopPropagation
                                                                           href=@(ApplicationState.CorrectedParametersUri(new(){{ "LivestockFeedId", "-1" },{ "LivestockAnimalId", animal.Id.ToString() }}))>add</NavLink>
                                            </section>
                                        </NodeContent>
                                        <ChildContent>
                                            @foreach (var feed in appState.DbContext.LivestockFeeds.Where(b => b.LivestockAnimalId == animal.Id).OrderBy(b => b.Name))
                                            {
                                                var feedNodeId = animalNodeId + $">{nameof(LivestockFeedModel)}.{nameof(LivestockFeedModel.Id)}:{feed.Id}";
                                                <TreeNode Id="@feedNodeId" NodeName="@feed.Name"
                                                          IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(feedNodeId))
                                                          IsSelected=@ApplicationState.SelectedTreeNodes.Contains(feedNodeId)
                        OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})"
                        OnNodeSelectClick="NodeSelectedByUser"
                        OnSelectionChange="NodeSelectionChanged"></TreeNode>
                                            }
                                        </ChildContent>
                                    </TreeNode> *@
                                }
                                <TreeNode Id="@(animalNodeId+">Statuses")" NodeName="Statuses" IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(animalNodeId+">Statuses"))
                                          OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})">
                                    <NodeContent>
                                        <section class="nodeContent">
                                            <span>Statuses</span><NavLink @onclick:stopPropagation href=@(ApplicationState.CorrectedParametersUri(new(){{ "LivestockAnimalId", animal.Id.ToString()},{ "LivestockStatusId", "-1"}}))>add</NavLink>
                                        </section>
                                    </NodeContent>
                                    <ChildContent>
                                        @foreach (var status in appState.DbContext.LivestockStatuses.Where(b => b.LivestockAnimalId == animal.Id).OrderBy(b => b.Status))
                                        {
                                            var statusNodeId = animalNodeId + $">{nameof(LivestockStatusModel)}.{nameof(LivestockStatusModel.Id)}:{status.Id}";
                                            <TreeNode Id="@statusNodeId" NodeName="@status.Status"
                                                      IsCollapsed=@(!ApplicationState.ExpandedTreeNodes.Contains(statusNodeId))
                                                      IsSelected=@ApplicationState.SelectedTreeNodes.Contains(statusNodeId)
                                                      OnNodeCollapseClick="@((b) =>{ApplicationState.UpdageExpandedNodeState(b.Id, b.IsCollapsed);})"
                                                      OnNodeSelectClick="NodeSelectedByUser"
                                                      OnSelectionChange="NodeSelectionChanged">
                                                <NodeContent>
                                                    <section class="nodeContent">
                                                        <span>@status.Status</span><NavLink @onclick:stopPropagation
                                                            href=@(ApplicationState.CorrectedParametersUri(new(){{"LivestockId", "-1"},{ "LivestockAnimalId", status.LivestockAnimalId.ToString()},{ "LivestockStatusId", status.Id.ToString() }}))>add</NavLink>
                                                    </section>
                                                </NodeContent>
                                            </TreeNode>
                                        }
                                    </ChildContent>
                                </TreeNode>
                            </ChildContent>
                        </TreeNode>
                    }
                </ChildContent>
            </TreeNode>
        </TreeView>
        }
      <div>
            @if (LivestockAnimalId.HasValue)
            {
                @if (LivestockAnimalId.Value > 0)
                {
                    <CascadingValue Value="@appState.DbContext.LivestockAnimals.Find(LivestockAnimalId.Value)">
                        <LivestockAnimalNameplate ShowEdit="@(ApplicationState.FieldIsInQueryString(nameof(LivestockAnimalId)) && !LivestockBreedId.HasValue)"
                                                  ShowNavigate="@(ApplicationState.FieldIsInQueryString(nameof(LivestockAnimalId)) && !LivestockBreedId.HasValue)"
                                                  NavigateText="back"
                                                  OnNavigateClick="@(()=> ApplicationState.NavigateTo(new() { { nameof(LivestockAnimalId), string.Empty } }))">
                            @if (LivestockStatusId.HasValue && LivestockStatusId.Value < 1)
                            {
                                <LivestockStatusEditor Modal="true" Show="@_addingStatus" editContext="@_addStatusContext" OnSubmit="StatusAddSubmitted" OnCancel="StatusAddCancelled"></LivestockStatusEditor>
                            }
                            @if (LivestockBreedId.HasValue)
                            {
                                @if (LivestockBreedId.Value > 0)
                                {
                                    <CascadingValue Value="@appState.DbContext.LivestockBreeds.Find(LivestockBreedId.Value)">
                                        <LivestockBreedNameplate ShowEdit="@(ApplicationState.FieldIsInQueryString(nameof(LivestockBreedId)) && !LivestockId.HasValue)"
                                                                 ShowNavigate="@(ApplicationState.FieldIsInQueryString(nameof(LivestockBreedId)) && !LivestockId.HasValue)"
                                                                 NavigateText="back"
                                                                 OnNavigateClick="@(()=> ApplicationState.NavigateTo(new() { { nameof(LivestockBreedId), string.Empty } }))">
                                            @if (LivestockId.HasValue)
                                            {
                                                @if (LivestockId.Value > 0)
                                                {
                                            <CascadingValue Value="@appState.DbContext.Livestocks.Find(LivestockId.Value)">
                                                <LivestockNameplate ShowAll="true" ShowEdit="@ApplicationState.FieldIsInQueryString(nameof(LivestockId))"
                                                                    ShowNavigate="@ApplicationState.FieldIsInQueryString(nameof(LivestockId))"
                                                                    NavigateText="back"
                                                                    OnNavigateClick="@(()=> ApplicationState.NavigateTo(new() { { nameof(LivestockId), string.Empty } }))">
                                                    <LivestockIndicators></LivestockIndicators>
                                                    <LivestockSubTabs></LivestockSubTabs>
                                                </LivestockNameplate>
                                            </CascadingValue>
                                                }
                                                else
                                                {
                                                    <LivestockEditor Modal="true" Show="@_addingLivestock" LivestockAnimalId="@LivestockAnimalId" editContext="@_addLivestockContext" OnSubmit="LivestockAddSubmitted" OnCancel="LivestockAddCancelled"></LivestockEditor>
                                                }
                                            }
                                        </LivestockBreedNameplate>
                                    </CascadingValue>
                                }
                                else
                                {
                                    <LivestockBreedEditor Modal="true" Show="@_addingBreed" editContext="@_addBreedContext" OnSubmit="BreedAddSubmitted" OnCancel="BreedAddCancelled"></LivestockBreedEditor>
                                }
                            }
                        </LivestockAnimalNameplate>
                    </CascadingValue>
                }
                else
                {
                    <LivestockAnimalEditor Modal="true" Show="@_addingAnimal" editContext="@_addAnimalContext" OnSubmit="AnimalAddSubmitted" OnCancel="AnimalAddCancelled"></LivestockAnimalEditor>
                }
            }
            else if (LivestockId.HasValue && LivestockId.Value<1)
            {
                <LivestockEditor Modal="true" Show="@_addingLivestock" editContext="@_addLivestockContext" OnSubmit="LivestockAddSubmitted" OnCancel="LivestockAddCancelled"></LivestockEditor>
            }
            @if (!LivestockId.HasValue)
            {
                <LivestockGrid Items="baseLivestockQuery()"
                               ShowAnimalNameColumn=@(ApplicationState.AnimalSelectedFilter.Count!=1 && !ApplicationState.FieldIsInQueryString(nameof(LivestockAnimalId)))
                               ShowLocationColumn=@(ApplicationState.LocationSelectedFilter.Count!=1 && !ApplicationState.FieldIsInQueryString("LandPlotId"))
                               ShowBreedColumns=@(ApplicationState.BreedSelectedFilter.Count!=1 && !ApplicationState.FieldIsInQueryString(nameof(LivestockBreedId)))>
                </LivestockGrid>
            }

        </div>
    }
    else
    {
    <span>Initializing application </span>
    }
</div>


@code {
    [CascadingParameter] private ApplicationState appState { get; set; }
    protected override void OnInitialized()
    {
        appState.OnDbInitialized += Refresh;
        appState.OnDbUpdate += Refresh;
        appState.OnLocationChange += Refresh;
    }
    private void Refresh() => StateHasChanged();
    public void Dispose()
    {
        appState.OnDbInitialized -= Refresh;
        appState.OnDbUpdate -= Refresh;
        appState.OnLocationChange -= Refresh;
    }
    [Parameter][SupplyParameterFromQuery(Name = "LivestockId")] public long? LivestockId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LocationId")] public long? LocationId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LivestockAnimalId")] public long? LivestockAnimalId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "StatusId")] public long? StatusId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LivestockBreedId")] public long? LivestockBreedId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LivestockStatusId")] public long? LivestockStatusId { get; set; }

    [Parameter] public bool ShowTree { get; set; } = false;
    private void SetLivestockId(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
            LivestockId = null;
        else
            LivestockId = long.Parse(value);
    }
    LivestockModel LivestockObject = new();

    private long _livestockId = -1;
    private IQueryable<LivestockModel> baseLivestockQuery()
    {
        var query = appState.DbContext.Livestocks.Include(l=>l.Breed).ThenInclude(b=>b.Animal)
            .Include(s => s.Status).Include(p => p.Father).Include(p => p.Mother).Include(l=>l.Location).AsQueryable();
        if (_livestockId > 0)
            query = query.Where(p => p.Id == _livestockId);
        else
        {
            // if (ApplicationState.FarmSelectedFilter.Any())
            //     query = query.Where(p => ApplicationState.FarmSelectedFilter.Contains(p.FarmLocationId));
            // if (ApplicationState.UsageSelectedFilter.Any())
            //     query = query.Where(p => ApplicationState.UsageSelectedFilter.Contains(p.Usage));
            // if (!string.IsNullOrEmpty(plotNameFilter))
            //     query = query.Where(p => p.Name.Contains(plotNameFilter));
        }
        return query.ToList().AsQueryable();
    }
    private string BreedNodeSummary(LivestockBreedModel breed) => 
        $"{breed.Name} Varieties:{appState.DbContext.Livestocks.Where(l => l.LivestockBreedId == breed.Id).Select(l => l.Variety).Distinct().Count()} Total: {appState.DbContext.Livestocks.Count(l => l.LivestockBreedId == breed.Id && l.BeingManaged==true)}";
    private bool _addingLivestock = false;
    private EditContext _addLivestockContext;
    private void LivestockAddCancelled(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockId", string.Empty } });
    private void LivestockAddSubmitted(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockId", (context.Model as LivestockModel)?.Id.ToString() } });


    private bool _addingAnimal = false;
    private EditContext _addAnimalContext;
    private void AnimalAddCancelled(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockAnimalId", string.Empty } });
    private void AnimalAddSubmitted(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockAnimalId", (context.Model as LivestockAnimalModel)?.Id.ToString() } });


    private bool _addingStatus = false;
    private EditContext _addStatusContext;
    private void StatusAddCancelled(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockStatusId", string.Empty } });
    private void StatusAddSubmitted(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockStatusId", (context.Model as LivestockStatusModel)?.Id.ToString() } });

    private bool _addingBreed = false;
    private EditContext _addBreedContext;
    private void BreedAddCancelled(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockBreedId", string.Empty } });
    private void BreedAddSubmitted(EditContext context) => ApplicationState.NavigateTo(new() { { "LivestockBreedId", (context.Model as LivestockBreedModel)?.Id.ToString() } });


    protected override void OnParametersSet()
    {
        if ((!LivestockBreedId.HasValue && !LivestockAnimalId.HasValue && !LivestockId.HasValue) || (appState.DbContext?.Tenants.Any() != true))
        {
            base.OnParametersSet();
            return;
        }

        _addingAnimal = LivestockAnimalId == -1;
        if (_addingAnimal)
            _addAnimalContext = new EditContext(new LivestockAnimalModel());
        _addingStatus = LivestockStatusId == -1 && LivestockAnimalId.HasValue;
        if (_addingStatus)
            _addStatusContext = new EditContext(new LivestockStatusModel() { LivestockAnimalId= LivestockAnimalId.Value });
        _addingBreed = LivestockBreedId == -1 && LivestockAnimalId.HasValue;
        if (_addingBreed)
            _addBreedContext = new EditContext(new LivestockBreedModel() { LivestockAnimalId = LivestockAnimalId.Value });

        if (LivestockBreedId > 0 && !LivestockAnimalId.HasValue)
            LivestockAnimalId = appState.DbContext.LivestockBreeds.Find(LivestockBreedId)?.LivestockAnimalId;



        _livestockId = LivestockId.HasValue ? LivestockId.Value : -1;
        LivestockObject = appState.DbContext.Livestocks.Find(_livestockId) ?? new();
        if (_livestockId < 1)
        {
            if(LivestockBreedId.HasValue)
                LivestockObject.LivestockBreedId = LivestockBreedId.Value;
            if (LivestockStatusId.HasValue)
                LivestockObject.StatusId = LivestockStatusId.Value;
            if (LocationId.HasValue)
                LivestockObject.LocationId = LocationId.Value;
        }
        if (!LivestockBreedId.HasValue)
        {
            var breed = appState.DbContext.LivestockBreeds.Find(LivestockObject.LivestockBreedId);
            LivestockBreedId = breed?.Id;
            LivestockAnimalId = breed?.LivestockAnimalId;
        }

        _addLivestockContext = new EditContext(LivestockObject);
        _addingLivestock = LivestockId < 1;
        StateHasChanged();
    }
    private void NodeSelectedByUser(TreeNode selectedNode) => NodeSelected(selectedNode, !selectedNode.IsSelected);
    private void NodeSelectionChanged(TreeNode selectedNode) => NodeSelected(selectedNode, selectedNode.IsSelected);

    private void NodeSelected(TreeNode selectedNode, bool selected)
    {
        var nodeId = selectedNode.Id;
        ApplicationState.UpdageSelectedNodeState(nodeId, selected);
        var nodes = nodeId.Split('>');
        foreach (var node in nodes)
            if (node.Contains(':'))
            {
                // [Parameter][SupplyParameterFromQuery(Name = "LivestockId")] public long? LivestockId { get; set; }
                
                // [Parameter][SupplyParameterFromQuery(Name = "StatusId")] public long? StatusId { get; set; }
                // [Parameter][SupplyParameterFromQuery(Name = "LivestockBreedId")] public long? LivestockBreedId { get; set; }
                // [Parameter][SupplyParameterFromQuery(Name = "LivestockStatusId")] public long? LivestockStatusId { get; set; }

                var entityKeyValue = node.Split(':');
                if (entityKeyValue[0] == $"{nameof(LivestockAnimalModel)}.{nameof(LivestockAnimalModel.Id)}" && long.TryParse(entityKeyValue[1], out var animalId))
                    AnimalSelected(selected, animalId);
                if (entityKeyValue[0] == $"{nameof(LivestockModel)}.{nameof(LivestockModel.LocationId)}" && long.TryParse(entityKeyValue[1], out var locationId))
                    LocationSelected(selected, locationId);
                if (entityKeyValue[0] == $"{nameof(LivestockBreedModel)}.{nameof(LivestockBreedModel.Id)}" && long.TryParse(entityKeyValue[1], out var breedId))
                    BreedSelected(selected, breedId);
                // if (entityKeyValue[0] == $"{nameof(LandPlotModel)}.{nameof(LandPlotModel.Usage)}")
                //     UsageSelected(selected, entityKeyValue[1]);
            }
    }
    private void AnimalSelected(bool selected, long animalId)
    {
        if (selected)
        {
            if (!ApplicationState.AnimalSelectedFilter.Contains(animalId)) ApplicationState.AnimalSelectedFilter.Add(animalId);
        }
        else
        {
            if (ApplicationState.AnimalSelectedFilter.Contains(animalId)) ApplicationState.AnimalSelectedFilter.Remove(animalId);
        }
        StateHasChanged();
        if (ApplicationState.AnimalSelectedFilter.Count != 1)
            ApplicationState.NavigateTo(new() { { "LivestockAnimalId", string.Empty } });
        else if (LivestockAnimalId != ApplicationState.AnimalSelectedFilter[0])
            ApplicationState.NavigateTo(new() { { "LivestockAnimalId", ApplicationState.AnimalSelectedFilter[0].ToString() } });
    }
    private void LocationSelected(bool selected, long animalId)
    {
        if (selected)
        {
            if (!ApplicationState.LocationSelectedFilter.Contains(animalId)) ApplicationState.LocationSelectedFilter.Add(animalId);
        }
        else
        {
            if (ApplicationState.LocationSelectedFilter.Contains(animalId)) ApplicationState.LocationSelectedFilter.Remove(animalId);
        }
        StateHasChanged();
        if (ApplicationState.LocationSelectedFilter.Count != 1)
            ApplicationState.NavigateTo(new() { { "LocationId", string.Empty } });
        else if (LocationId != ApplicationState.LocationSelectedFilter[0])
            ApplicationState.NavigateTo(new() { { "LocationId", ApplicationState.LocationSelectedFilter[0].ToString() } });
    }
    private void BreedSelected(bool selected, long animalId)
    {
        if (selected)
        {
            if (!ApplicationState.BreedSelectedFilter.Contains(animalId)) ApplicationState.BreedSelectedFilter.Add(animalId);
        }
        else
        {
            if (ApplicationState.BreedSelectedFilter.Contains(animalId)) ApplicationState.BreedSelectedFilter.Remove(animalId);
        }
        StateHasChanged();
        if (ApplicationState.BreedSelectedFilter.Count != 1)
            ApplicationState.NavigateTo(new() { { "LivestockBreedId", string.Empty } });
        else if (LivestockBreedId != ApplicationState.BreedSelectedFilter[0])
            ApplicationState.NavigateTo(new() { { "LivestockBreedId", ApplicationState.BreedSelectedFilter[0].ToString() } });
    }
}
