@using Domain.Models;
@inherits DataComponent<RegistrarModel>
@if (app != null)
{
    <CascadingValue Value="_editRegistrar">
        <RegistrarEditor Show=@(_editRegistrar is not null) Modal=true @ref="_registrarEditor" Submitted="@RegistrarUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></RegistrarEditor>
    </CascadingValue>
    <TableTemplate @ref="_listComponent" PageSize="0" TItem="RegistrarModel"
                   Items="@Items"
                   MultiSelect="@Multiselect"
                   Selectable="@Selectable"
                   OnSelectionChange="@TableItemSelected"
                   CanDelete="@CanDelete"
                   RowDetailsShowing="@app.RowDetailsShowing["RegistrarList"]"
                   NewItemName="Registrar"
                   AddItemClicked="@(async ()=>await EditRegistrar(0))">
        <ColumnContent>
            <Column TableItem="RegistrarModel" Field="@(x => x.Id)" Title="ControlColumn">
                <Template Context="e">
                    <button type="button" onclick="@(()=> EditRegistrar(e.Id))">Edit</button>
                    @if (CanDelete)
                    {
                        <button type="button">Delete</button>
                    }
                </Template>
            </Column>
            <Column TableItem="RegistrarModel" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="RegistrarModel" Field="@(x => x.RegistrarFarmID)" Title="Farm Number" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="RegistrarModel" Field="@(x => x.Website)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="RegistrarModel" Field="@(x => x.Email)" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="RegistrarModel" Field="@(x => x.API)" Filterable="true" UseInSuperSearch="true" />
        </ColumnContent>
    </TableTemplate>
}
