@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent<LivestockAnimalModel>
@if (editContext is not null)
{
    <ValidatedForm editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   showUpdateCancelButtons="true"
                   createOnly="@(((LivestockAnimalModel)working).Id<1)"
                   Modal="Modal"
                   Show="Show"
    @ref=_validatedForm>
         <DataContent>
            <ValidatedField Legend="Name" ValidationMessageFor="@(() => ((LivestockAnimalModel)working).Name)">
                <InputText placeholder="Name" @bind-Value="@Name" />
            </ValidatedField>
            <ValidatedField Legend="Collective Name" ValidationMessageFor="@(() => ((LivestockAnimalModel)working).GroupName)">
                <InputText placeholder="Collective Name" @bind-Value="@(((LivestockAnimalModel)working).GroupName)" />
            </ValidatedField>
            <ValidatedField Legend="Male Parent Name" ValidationMessageFor="@(() => ((LivestockAnimalModel)working).ParentMaleName)">
                <InputText placeholder="Male Parent Name" @bind-Value="@(((LivestockAnimalModel)working).ParentMaleName)" />
            </ValidatedField>
            <ValidatedField Legend="Female Parent Name" ValidationMessageFor="@(() => ((LivestockAnimalModel)working).ParentFemaleName)">
                <InputText placeholder="Female Parent Name" @bind-Value="@(((LivestockAnimalModel)working).ParentFemaleName)" />
            </ValidatedField>
            <ValidatedField Legend="Care" ValidationMessageFor="@(() => ((LivestockAnimalModel)working).Care)">
                <InputSelect @bind-Value="@(((LivestockAnimalModel)working).Care)">
                    <option value="@LivestockCareConstants.Individual">@LivestockCareConstants.Individual</option>
                    <option value="@LivestockCareConstants.Collective">@LivestockCareConstants.Collective</option>
                </InputSelect>
            </ValidatedField>
        </DataContent>
@*         <SecondaryContent>
            @if (((LivestockAnimalModel)working).Id > 0)
            {
             <CascadingValue Value="@working">
                <LivestockAnimalSubTabs @ref="_tabControl"></LivestockAnimalSubTabs>
             </CascadingValue>
            }
        </SecondaryContent> *@
    </ValidatedForm>
    
}