@using Domain.Models
@using FrontEnd.Components.LivestockBreed
@inherits DataComponent<LivestockAnimalModel>

@if (app != null)
{
    <CascadingValue Value="_editAnimal">
        <LivestockAnimalEditor Show=@(_editAnimal is not null) Modal=true @ref="_animalEditor" Submitted="@AnimalUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></LivestockAnimalEditor>
    </CascadingValue>
    <TableTemplate @ref="_listComponent" PageSize="0" TItem="LivestockAnimalSummary"
                   Items="@Items"
                   MultiSelect="@Multiselect"
                   Selectable="@Selectable"
                   OnSelectionChange="@TableItemSelected"
                   CanDelete="@CanDelete"
                   RowDetailsShowing="@app.RowDetailsShowing["LivestockAnimalList"]"
                   NewItemName="Livestock"
                   AddItemClicked="@(()=> EditAnimal(0))">
        <ColumnContent>
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.Id)" Title="ControlColumn">
                <Template Context="e">
                    <button type="button" onclick="@(()=> _listComponent.ToggleRowDetailsShowing(e))">@(_listComponent.IsRowDetailsShowing(e) ? "Hide" : "Show") Details</button>
                    @if (CanDelete)
                    {
                        <button type="button">Delete</button>
                    }
                </Template>
            </Column>
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true">
                <Template Context="e">
                    <button type="button" onclick="@(()=> EditAnimal(e.Id))">@e.Name</button>
                </Template>
            </Column>
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.GroupName)" Title="Group Name" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.ParentFemaleName)" Title="Female Ancestor Title" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.ParentMaleName)" Title="Male Ancestor Title" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.Care)" Title="Management Style" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.BreedsCount)" Sortable="true" Filterable="true" UseInSuperSearch="true" Title="Number of Breeds" />
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.StatusesCount)" Sortable="true" Filterable="true" UseInSuperSearch="true" Title="Number of Statuses" />
            <Column TableItem="LivestockAnimalSummary" Field="@(x => x.FeedsCount)" Sortable="true" Filterable="true" UseInSuperSearch="true" Title="Number of Feeds" />
        </ColumnContent>
        <TableRowDetailTemplate >
            <LivestockAnimalSubTabs livestockAnimalId="@context.Id"></LivestockAnimalSubTabs>
        </TableRowDetailTemplate>
    </TableTemplate>
}
