@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent<UnitModel>

@if (editContext is not null)
{
    <ValidatedForm editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   showUpdateCancelButtons="true"
                   createOnly="@(((UnitModel)working).Id<1)"
                   Modal="Modal"
                   Show="Show"
                   @ref=_validatedForm>
        <DataContent>
            <ValidatedField Legend="Unit" ValidationMessageFor="@(() => ((UnitModel)working).Category)">
                <InputSelect @bind-Value="@(((UnitModel)working).Category)">
                    <option value="">Select Category ...</option>
                    @foreach (var category in UnitCategoryConstants.Units.Keys.Order().ToList())
                    {
                        <option value="@category">@category</option>
                    }
                 </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="Unit" ValidationMessageFor="@(() => ((UnitModel)working).Name)">
                    <InputText placeholder="Unit" @bind-Value="@(((UnitModel)working).Name)" />
            </ValidatedField>
            <ValidatedField Legend="Symbol" ValidationMessageFor="@(() => ((UnitModel)working).Symbol)">
                <InputText placeholder="Unit" @bind-Value="@(((UnitModel)working).Symbol)" />
            </ValidatedField>
            <ValidatedField Legend=@($"Conversion to SI {UnitCategoryConstants.Units[((UnitModel)working).Category]}") ValidationMessageFor="@(() => ((UnitModel)working).ConversionFactorToSIUnit)">
                <InputNumber placeholder="0" @bind-Value="@(((UnitModel)working).ConversionFactorToSIUnit)" />
            </ValidatedField>
        </DataContent>
            
    </ValidatedForm>
}

