@using Domain.Constants;
@using FrontEnd.Components.Registration
@using FrontEnd.Components.ScheduledDuty;
@using FrontEnd.Components.TreatmentRecord;
@using FrontEnd.Components.Measurement;
@using Domain.Models;
@inherits DataComponent<LivestockModel>


<TabControl @ref="_tabControl" TabSelected="@(async() => await FreshenData())" SelectedTab="@app.SelectedTabs" SelectedTabPageKey="@nameof(LivestockSubTabs)" >
    <TabPage @ref="_closeTab" Text="x">

    </TabPage>
    <TabPage @ref="_registrationTab">
        <ButtonContent>
            <button type="button" class="@_tabControl.GetButtonClass(_registrationTab)" @onclick="@(() =>_tabControl.ActivatePage(_registrationTab))">
                Registrations
            </button>
        </ButtonContent>
        <ChildContent>
           </ChildContent>
    </TabPage>
    <TabPage @ref="_treatmentRecordTab">
        <ButtonContent>
            <button type="button" class="@_tabControl.GetButtonClass(_treatmentRecordTab)" @onclick="@(() =>_tabControl.ActivatePage(_treatmentRecordTab))">
                Treatments
            </button>
        </ButtonContent>
        <ChildContent>
        </ChildContent>
    </TabPage>
    <TabPage @ref="_measurementTab">
        <ButtonContent>
            <button type="button" class="@_tabControl.GetButtonClass(_measurementTab)" @onclick="@(() =>_tabControl.ActivatePage(_measurementTab))">
                Measurements
            </button>
        </ButtonContent>
        <ChildContent>
        </ChildContent>
    </TabPage>
    <TabPage @ref="_progenyTab">
        <ButtonContent>
            <button type="button" class="@_tabControl.GetButtonClass(_progenyTab)" @onclick="@(() =>_tabControl.ActivatePage(_progenyTab))">
                Progeny
            </button>
        </ButtonContent>
        <ChildContent>
            <CascadingValue Value="livestock">
                <LivestockProgeny></LivestockProgeny>
            </CascadingValue>
        </ChildContent>
    </TabPage>
    <TabPage @ref="_ancestryTab">
        <ButtonContent>
            <button type="button" class="@_tabControl.GetButtonClass(_ancestryTab)" @onclick="@(() =>_tabControl.ActivatePage(_ancestryTab))">
                Ancestry
            </button>
        </ButtonContent>
        <ChildContent>
            <div class="ancestry">
                @if (livestock.Mother is not null)
                { 
                    <CascadingValue Value="livestock.Mother">
                    <LivestockAncestry></LivestockAncestry>
                </CascadingValue>
                }
                else
                {
                    <div class="unknown female">
                        <span class="fa-stack">
                            <i class="fas fa-stack-1x fa-venus female"></i>
                        </span>
                        unknown
                    </div>
                }
                @if (livestock.Father is not null)
                {
                    <CascadingValue Value="livestock.Father">
                        <LivestockAncestry></LivestockAncestry>
                    </CascadingValue>
                }
                else
                {
                    
                    <div class="unknown male">
                        <span class="fa-stack">
                            <i class="fas fa-stack-1x fa-mars male"></i>
                        </span>
                        unknown
                    </div>
                }
            </div>
        </ChildContent>
    </TabPage>
</TabControl>