@using Domain.Constants;
@using Domain.Models;
@using FrontEnd.Components.LivestockStatus;
@inherits DataComponent<LivestockModel>
@if (editContext is not null && working is not null)
{
    <ValidatedForm editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   showUpdateCancelButtons="true"
                   Modal="Modal"
                   Show="Show"
                   @ref=_validatedForm>
        <DataContent>
            <ValidatedField Legend="Breed" ValidationMessageFor="@(() => ((LivestockModel)working).LivestockBreedId)">
                @(((LivestockModel)working).Breed?.Name)
            </ValidatedField>
            <ValidatedField Legend="Variety" ValidationMessageFor="@(() => ((LivestockModel)working).Variety)">
                <InputText placeholder="Variety" @bind-Value="@(((LivestockModel)working).Variety)" list="varietyList" />
                <datalist id="varietyList">
                    @foreach (var g in app.dbContext.Livestocks.Where(s => s.LivestockBreedId == ((LivestockModel)working).LivestockBreedId).Select(a => a.Variety).Distinct().OrderBy(a => a))
                    {
                        <option value="@g" />
                    }
                </datalist>
            </ValidatedField>
            <ValidatedField Legend="BatchNumber" ValidationMessageFor="@(() => ((LivestockModel)working).BatchNumber)">
                <InputText placeholder="BatchNumber" @bind-Value="@(((LivestockModel)working).BatchNumber)" />
            </ValidatedField>
            <ValidatedField Legend="Name" ValidationMessageFor="@(() => ((LivestockModel)working).Name)">
                <InputText placeholder="Name" @bind-Value="@(((LivestockModel)working).Name)" />
            </ValidatedField>
            <ValidatedField Legend="Description" ValidationMessageFor="@(() => ((LivestockModel)working).Description)">
                <InputText placeholder="Description" @bind-Value="@(((LivestockModel)working).Description)" />
            </ValidatedField>
            <ValidatedField Legend="Birth Date" ValidationMessageFor="@(() => ((LivestockModel)working).Birthdate)">
                <InputDate @bind-Value="@(((LivestockModel)working).Birthdate)"/>
            </ValidatedField>
            <ValidatedField ValidationMessageFor="@(() => ((LivestockModel)working).StatusId)">
                <LegendContent>
                    <div style="display:inline-flex">
                        <span>Status</span><button type="button" @onclick=ShowStatusEditor>+</button>
                        <LivestockStatusEditor Show=showStatusModal livestockAnimalId="((LivestockModel)working).Breed?.LivestockAnimalId" @ref=_livestockStatusEditor Modal="true" Submitted="StatusCreated" Cancelled="StatusCanceled"></LivestockStatusEditor>
                    </div>
                </LegendContent>
                <ChildContent>
                    <InputSelect @bind-Value="@StatusId">
                        <option value="0">Select Status ...</option>
                        @foreach (var g in app.dbContext.LivestockStatuses.Where(s => s.LivestockAnimalId == ((LivestockModel)working).Breed.LivestockAnimalId).OrderBy(a => a.Status))
                        {
                            <option value="@g.Id" >@g.Status</option>
                        }
                    </InputSelect>
                </ChildContent>
                
            </ValidatedField>
            <ValidatedField Legend="Location" ValidationMessageFor="@(() => ((LivestockModel)working).LocationId)">
                <InputSelect @bind-Value="@(((LivestockModel)working).LocationId)">
                    <option value="0">Select Location ...</option>
                    @foreach (var g in app.dbContext.LandPlots.Where(p => p.Usage == LandPlotUseConstants.Livestock).OrderBy(a=>a.Name).ToList())
                    {
                        <option value="@g.Id">@g.Name</option>
                    }
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="Gender" ValidationMessageFor="@(() => ((LivestockModel)working).Gender)">
                <InputSelect @bind-Value="@(((LivestockModel)working).Gender)">
                    <option value="0">Select Gender ...</option>
                    <option value="@GenderConstants.Female">@nameof(GenderConstants.Female)</option>
                    <option value="@GenderConstants.Male">@nameof(GenderConstants.Male)</option>
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="Birth Defect" ValidationMessageFor="@(() => ((LivestockModel)working).BornDefective)">
                <InputCheckbox @bind-Value="@(((LivestockModel)working).BornDefective)" />
            </ValidatedField>
            @if (((LivestockModel)working).BornDefective)
            {
                <ValidatedField Legend="Defect Description" ValidationMessageFor="@(() => ((LivestockModel)working).BirthDefect)">
                    <InputText placeholder="Defect Description" @bind-Value="@(((LivestockModel)working).BirthDefect)" />
                </ValidatedField>
            }

            <ValidatedField Legend="Being Managed" ValidationMessageFor="@(() => ((LivestockModel)working).BeingManaged)">
                <InputCheckbox @bind-Value="@(((LivestockModel)working).BeingManaged)" />
            </ValidatedField>
            <ValidatedField Legend="Bottle Fed" ValidationMessageFor="@(() => ((LivestockModel)working).BottleFed)">
                <InputCheckbox @bind-Value="@(((LivestockModel)working).BottleFed)" />
            </ValidatedField>
            <ValidatedField Legend="Sterile" ValidationMessageFor="@(() => ((LivestockModel)working).Sterile)">
                <InputCheckbox @bind-Value="@(((LivestockModel)working).Sterile)" />
            </ValidatedField>
            <ValidatedField Legend="In Milk" ValidationMessageFor="@(() => ((LivestockModel)working).InMilk)">
                <InputCheckbox @bind-Value="@(((LivestockModel)working).InMilk)" />
            </ValidatedField>
            <ValidatedField Legend="For Sale" ValidationMessageFor="@(() => ((LivestockModel)working).ForSale)">
                <InputCheckbox @bind-Value="@(((LivestockModel)working).ForSale)" />
            </ValidatedField>
            <ValidatedField Legend="@(((LivestockModel)working).Breed?.Animal?.ParentFemaleName)" ValidationMessageFor="@(() => ((LivestockModel)working).MotherId)">
                <InputSelect @bind-Value="@(((LivestockModel)working).MotherId)">
                    <option value="0">Select @(((LivestockModel)working).Breed?.Animal?.ParentFemaleName) ...</option>
                    @foreach (var g in app.dbContext.Livestocks.Where(s => s.LivestockBreedId == ((LivestockModel)working).Breed.Id 
                        && s.Gender == GenderConstants.Female
                        && s.Id != ((LivestockModel)working).Id).OrderBy(a => a.Name))
                    {
                        <option value="@g.Id" >@g.Name</option>
                    }
                </InputSelect>
            </ValidatedField>
            <ValidatedField Legend="@(((LivestockModel)working).Breed?.Animal?.ParentMaleName)" ValidationMessageFor="@(() => ((LivestockModel)working).FatherId)">
                <InputSelect @bind-Value="@(((LivestockModel)working).FatherId)">
                    <option value="0">Select @(((LivestockModel)working).Breed?.Animal?.ParentMaleName) ...</option>
                    @foreach (var g in app.dbContext.Livestocks.Where(s => s.LivestockBreedId == ((LivestockModel)working).Breed.Id
                        && s.Gender == GenderConstants.Male
                        && s.Id != ((LivestockModel)working).Id).OrderBy(a => a.Name))
                    {
                        <option value="@g.Id">@g.Name</option>
                    }
                </InputSelect>
            </ValidatedField>
        </DataContent>
@*         <SecondaryContent>
            @if (((LivestockModel)working).Id > 0)
            {
                <CascadingValue Value="@working">
                    <LivestockSubTabs></LivestockSubTabs>
                </CascadingValue>
            }
        </SecondaryContent> *@
    </ValidatedForm>

}