@using Domain.Logic
@using Domain.Models
@using MicroAgManager.Components.Shared.Filters
@using MicroAgManager.Services
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore


<QuickGrid Theme="microagmanager" @ref=scheduleDutyGrid TGridItem=ScheduledDutyModel Virtualize=true Items="FilteredItems()">
    <PropertyColumn Property="@(p => p.ScheduleSourceItem)" Title="Source Item" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="sourceItemFilter" @bind:event="oninput" placeholder="Source Item..." />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <TemplateColumn Title="Duty" Sortable="true" Context="scheduledDuty" SortBy="@OrderByDutyName">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="dutyNameFilter" @bind:event="oninput" placeholder="filter value..." />
            </div>
        </ColumnOptions>
        <ChildContent>
            <NavLink href=@($"/Ancillaries/ScheduledDuties?DutyId={scheduledDuty.DutyId}")>
                @scheduledDuty.Duty.Name
            </NavLink>
         </ChildContent>
     </TemplateColumn>
    <TemplateColumn Title="Command" Sortable="true" Context="scheduledDuty" SortBy="@OrderByDutyCommandItem">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="dutyCommandItemFilter" @bind:event="oninput" placeholder="Command..." />
            </div>
        </ColumnOptions>
        <ChildContent>
            @if (scheduledDuty.CompletedOn.HasValue)
            {
                <span>@scheduledDuty.Duty.CommandItem</span>
            }
            else
            {
                <ScheduledDutyCommand Command="@scheduledDuty.Duty.Command" ScheduledDutyId="@scheduledDuty.Id"></ScheduledDutyCommand>
            }
        </ChildContent>
    </TemplateColumn>
    @if (ShowRecipientType)
    {
    <TemplateColumn Title="Recipient Type" Sortable="true" Context="scheduledDuty" SortBy="@OrderByDutyRecipientType">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="dutyRecipientTypeFilter" @bind:event="oninput" placeholder="filter value..." />
            </div>
        </ColumnOptions>
        <ChildContent>
            <span>@scheduledDuty.Duty.RecipientType</span>
        </ChildContent>
    </TemplateColumn>
    <TemplateColumn Title="Recipient Type Item" Sortable="true" Context="scheduledDuty" SortBy="@OrderByDutyRecipientTypeItem">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="dutyRecipientTypeItemFilter" @bind:event="oninput" placeholder="filter value..." />
            </div>
        </ColumnOptions>
        <ChildContent>
            <span>@scheduledDuty.Duty.RecipientTypeItem</span>
        </ChildContent>
    </TemplateColumn>
    }
    @if (ShowRecipient)
    {
        <TemplateColumn Title="Recipient Item" Sortable="true" Context="scheduledDuty" SortBy="@OrderByDutyRecipientItem">
            <ColumnOptions>
                <div class="search-box">
                    <input type="search" autofocus @bind="recipientItemFilter" @bind:event="oninput" placeholder="filter value..." />
                </div>
            </ColumnOptions>
            <ChildContent>
                    <NavLink href=@RecipientLogic.GetRecipientHref(scheduledDuty.Duty.RecipientType,scheduledDuty.RecipientId)>
                        @RecipientLogic.RecipientName(appState.DbContext, scheduledDuty.Duty.RecipientType, scheduledDuty.RecipientId)
                    </NavLink>
                </ChildContent>
        </TemplateColumn>
    }
    <PropertyColumn Property="@(p => p.DueOn)" Title="DueOn" Sortable="true">
        <ColumnOptions>
            <GenericFilter T="DateTime?" FilterOperator="@dueOnFilterOperator" FilterValue="@dueOnFilter" FilterEndValue="@dueOnFilterEnd" OnFilterChanged="HandleDueFilterChanged" />
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(p => p.ReminderDays)" Title="Reminder Days" Sortable="true">
        <ColumnOptions>
            <GenericFilter T="decimal?" OnFilterChanged="HandleReminderFilterChanged" FilterValue="@reminderFilter" FilterEndValue="@reminderFilterEnd" FilterOperator="@reminderFilterOperator" />
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(p => p.CompletedOn)" Title="Completed On" Sortable="true">
        <ColumnOptions>
            <GenericFilter T="DateTime?" FilterOperator="@completedOnFilterOperator" FilterValue="@completedOnFilter" FilterEndValue="@completedOnFilterEnd" OnFilterChanged="HandleCompletedFilterChanged" />
        </ColumnOptions>
    </PropertyColumn>
    <TemplateColumn Title="Record" Sortable="true" Context="scheduledDuty" SortBy="@OrderByRecord">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="recordFilter" @bind:event="oninput" placeholder="filter value..." />
            </div>
        </ColumnOptions>
        <ChildContent>
            @if (scheduledDuty.RecordId > 0)
            {
                <NavLink href=@ScheduledDutyLogic.GetRecordHref(scheduledDuty)>
                    <span>@scheduledDuty.RecordItem</span>
                </NavLink>
            }
            else
            {
                <span>@scheduledDuty.RecordItem</span>
            }
        </ChildContent>
    </TemplateColumn>
</QuickGrid>

@code {
    [CascadingParameter] private ApplicationState appState { get; set; }
    [Parameter]
    public bool ShowRecipientType
    {
        get => _showRecipientType;
        set
        {
            _showRecipientType = value;
            if (!value)
            {
                dutyRecipientTypeFilter = string.Empty;
                dutyRecipientTypeItemFilter = string.Empty;
            }

        }
    }
    private bool _showRecipientType = true; 
    [Parameter]
    public bool ShowRecipient
    {
        get => _showRecipient;
        set
        {
            _showRecipient = value;
            if (!value)
                dutyRecipientItemFilter = string.Empty;
        }
    }
    private bool _showRecipient = true;
    [Parameter] required public IQueryable<ScheduledDutyModel> Items { get; set; }
    QuickGrid<ScheduledDutyModel> scheduleDutyGrid;
    string sourceItemFilter { get; set; }
    string dutyNameFilter { get; set; }
    string dutyCommandItemFilter { get; set; }
    string dutyRecipientTypeFilter { get; set; }
    string dutyRecipientTypeItemFilter { get; set; }
    string dutyRecipientItemFilter { get; set; }
    string recipientItemFilter { get; set; }
    decimal? reminderFilter { get; set; } //numeric
    string reminderFilterOperator { get; set; } //numeric
    decimal? reminderFilterEnd { get; set; } //numeric
    DateTime? dueOnFilter { get; set; } //date
    string dueOnFilterOperator { get; set; }
    DateTime? dueOnFilterEnd { get; set; }
    DateTime? completedOnFilter { get; set; } //date
    string completedOnFilterOperator { get; set; }
    DateTime? completedOnFilterEnd { get; set; }
    string recordFilter { get; set; }
    private void HandleDueFilterChanged((string? FilterOperator, DateTime? FilterValue, DateTime? FilterEndValue) filterData)
    {
        var (filterOperator, filterValue, filterEndValue) = filterData;
        dueOnFilter = filterValue;
        dueOnFilterOperator = filterOperator ?? string.Empty;
        dueOnFilterEnd = filterEndValue;
        StateHasChanged();
    }
    private void HandleCompletedFilterChanged((string? FilterOperator, DateTime? FilterValue, DateTime? FilterEndValue) filterData)
    {
        var (filterOperator, filterValue, filterEndValue) = filterData;
        completedOnFilter = filterValue;
        completedOnFilterOperator = filterOperator ?? string.Empty;
        completedOnFilterEnd = filterEndValue;
        StateHasChanged();
    }
    private void HandleReminderFilterChanged((string? FilterOperator, decimal? FilterValue, decimal? FilterEndValue) filterData)
    {
        var (filterOperator, filterValue, filterEndValue) = filterData;
        reminderFilter = filterValue;
        reminderFilterOperator = filterOperator ?? string.Empty;
        reminderFilterEnd = filterEndValue;
        StateHasChanged();
    }

    private IQueryable<ScheduledDutyModel> FilteredItems()
    {
        var query = Items.ToList().AsQueryable();
        if (!string.IsNullOrWhiteSpace(sourceItemFilter))
            query = query.Where(s => s.ScheduleSourceItem.Contains(sourceItemFilter));
        if (!string.IsNullOrWhiteSpace(dutyNameFilter))
            query = query.Where(s => s.Duty.Name.Contains(dutyNameFilter));
        if (!string.IsNullOrWhiteSpace(dutyCommandItemFilter))
            query = query.Where(s => s.Duty.CommandItem.Contains(dutyCommandItemFilter));
        if (!string.IsNullOrWhiteSpace(dutyRecipientTypeFilter))
            query = query.Where(s => s.Duty.RecipientType.Contains(dutyRecipientTypeFilter));
        if (!string.IsNullOrWhiteSpace(dutyRecipientTypeItemFilter))
            query = query.Where(s => s.Duty.RecipientTypeItem.Contains(dutyRecipientTypeItemFilter));
        if (!string.IsNullOrWhiteSpace(recipientItemFilter))
            query = query.Where(s => s.RecipientItem.Contains(recipientItemFilter));
        if (!string.IsNullOrWhiteSpace(recordFilter))
            query = query.Where(s => s.RecordItem.Contains(recordFilter));

        if (!string.IsNullOrWhiteSpace(reminderFilterOperator))
            query = FilteringHelpers.ApplyFilter(query, s => s.ReminderDays, reminderFilter, reminderFilterOperator, reminderFilterEnd);
        if (!string.IsNullOrWhiteSpace(completedOnFilterOperator))
            query = FilteringHelpers.ApplyFilter(query, s => s.CompletedOn, completedOnFilter, completedOnFilterOperator, completedOnFilterEnd);
        if (!string.IsNullOrWhiteSpace(dueOnFilterOperator))
            query = FilteringHelpers.ApplyFilter(query, s => s.DueOn, dueOnFilter, dueOnFilterOperator, dueOnFilterEnd);

        return query;
    }
    GridSort<ScheduledDutyModel> OrderByDutyName = GridSort<ScheduledDutyModel>.ByAscending(p => p.Duty.Name);
    GridSort<ScheduledDutyModel> OrderByDutyCommand = GridSort<ScheduledDutyModel>.ByAscending(p => p.Duty.Command);
    GridSort<ScheduledDutyModel> OrderByDutyCommandItem = GridSort<ScheduledDutyModel>.ByAscending(p => p.Duty.CommandItem);
    GridSort<ScheduledDutyModel> OrderByDutyRecipientType = GridSort<ScheduledDutyModel>.ByAscending(p => p.Duty.RecipientType);
    GridSort<ScheduledDutyModel> OrderByDutyRecipientTypeItem = GridSort<ScheduledDutyModel>.ByAscending(p => p.Duty.RecipientTypeItem);
    GridSort<ScheduledDutyModel> OrderByDutyRecipientItem = GridSort<ScheduledDutyModel>.ByAscending(p => p.RecipientItem);
    GridSort<ScheduledDutyModel> OrderByRecord = GridSort<ScheduledDutyModel>.ByAscending(p => p.Record).ThenAscending(p=>p.RecipientId);
    
}