@using Domain.Constants
@using Domain.Models
@using MicroAgManager.Components.Weather
<section class="FarmNameplate">
    <span class="name">@Farm.Name</span>
    @if (ShowAddress)
    {
        if (ShowStreet)
        {
            <span class="street">@Farm.StreetAddress</span>
        }
        if (ShowCity)
        {
            <span class="city">@Farm.City</span>
        }
        if (ShowState)
        {
            <span class="state">@Farm.State</span>
        }
        if (ShowZip)
        {
            <span class="zip">@Farm.Zip</span>
        }
        if (ShowCountry)
        {
            if (!string.IsNullOrEmpty(Farm.Country))
            {
                <span class="country">@Farm.Country</span>
            }
            if (!string.IsNullOrEmpty(Farm.CountryCode))
            {
                <span class="countrycode">@Farm.CountryCode</span>
            }
        }
    }
    @if(ShowPlotUse)
    {
        <span class="plotGeneralUse">@LandPlotUseConstants.GeneralUse @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.GeneralUse)).Count()</span>
        <span class="plotCrop">@LandPlotUseConstants.Crop @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.Crop)).Count()</span>
        <span class="plotGarden">@LandPlotUseConstants.Garden @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.Garden)).Count()</span>
        <span class="plotLivestock">@LandPlotUseConstants.Livestock @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.Livestock)).Count()</span>
        <span class="plotNutrientRecycling">@LandPlotUseConstants.NutrientRecycling @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.NutrientRecycling)).Count()</span>
        <span class="plotOutbuilding">@LandPlotUseConstants.Outbuilding @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.Outbuilding)).Count()</span>
        <span class="plotPasture">@LandPlotUseConstants.Pasture @Farm.Plots.Where(p => p.Usage == nameof(LandPlotUseConstants.Pasture)).Count()</span>
    }
    @if(ShowLocation)
    {
        <span class="latitude" >Latitude : @Farm.Latitude</span>
        <span class="longitude">Longitude: @Farm.Longitude</span>
    }
    @if (ShowWeather)
    {
        <WeatherPlate class="weather" Latitude="@Farm.Latitude" Longitude="@Farm.Longitude"></WeatherPlate>
    }
</section>
@code{
    [CascadingParameter] FarmLocationModel Farm { get; set; }
    [Parameter] public bool ShowAddress { get; set; } = false;
    [Parameter] public bool ShowStreet { get; set; } = true;
    [Parameter] public bool ShowCity { get; set; } = true;
    [Parameter] public bool ShowState { get; set; } = true;
    [Parameter] public bool ShowZip { get; set; } = true;
    [Parameter] public bool ShowCountry { get; set; } = true;
    [Parameter] public bool ShowPlotUse { get; set; } = false;
    [Parameter] public bool ShowLocation { get; set; } = false;
    [Parameter] public bool ShowWeather { get; set; } = false;

}
