@using Domain.Constants;
@using Domain.Models;
@using FrontEnd.Components.LandPlot;
@using FrontEnd.Components.Weather
@inherits DataComponent<FarmLocationModel>
<div class="FarmViewer">
    <CascadingValue Value="farm">
    @if (_editting)
    {
        
            <FarmEditor Cancelled="@(()=>EditComplete())" Submitted="@(()=>EditComplete(true))"></FarmEditor>
        
    }
    else{
        <FarmButton ShowWeather=true OnClick="@(()=> ShowEditor())"></FarmButton>
        <section class="address">
            <p>@farm.StreetAddress</p>
            <p>@farm.City</p>
            <p>@farm.State</p>
            <p>@farm.Zip</p>
            <p>@farm.Country</p>
        </section>
        
        <FarmSubTabs Submitted="StateHasChanged" ></FarmSubTabs>
    }
    </CascadingValue>
</div>
