@using Domain.Models;
@using FrontEnd.Components.Weather

@inherits DataComponent<FarmLocationModel>
@if (farm is not null)
{
    <section class="FarmBadge" @attributes="ContainerAttributes">
        <label onclick="@(async() => await OnClick.InvokeAsync())" class="@PointerClass()" style="@CustomButtonStyles()">
            @farm.Name
        </label>
        @if(ShowWeather)
        {
            <Weather @ref=_weather Latitude="@farm.Latitude" Longitude="@farm.Longitude"></Weather>
        }
    </section>
}