@using Domain.Models;
@inherits DataComponent<FarmLocationModel>
@if (editContext is not null)
{
    <ValidatedForm editContext="editContext" 
        FreshenData="FreshenData"
        OnValidSubmit="OnSubmit" 
        Cancel="Cancel"
        showUpdateCancelButtons="true"
        createOnly="@(working.Id<1)"
        Modal="Modal"
Show="Show"
        @ref=_validatedForm>
        <DataContent>
            <ValidatedField Legend="Name" ValidationMessageFor="@(() => working.Name)">
                <InputText placeholder="Name" @bind-Value="@working.Name" />
            </ValidatedField>
            <ValidatedField Legend="Address" ValidationMessageFor="@(() => working.StreetAddress)">
                <InputText placeholder="Street Address" @bind-Value="@working.StreetAddress" />
            </ValidatedField>
            <ValidatedField Legend="City" ValidationMessageFor="@(() => working.City)">
                <InputText placeholder="City" @bind-Value="@working.City" />
            </ValidatedField>
            <ValidatedField Legend="State" ValidationMessageFor="@(() => working.State)">
                <InputText placeholder="State" @bind-Value="@working.State" />
            </ValidatedField>
            <ValidatedField Legend="Zip" ValidationMessageFor="@(() => working.Zip)">
                <InputText placeholder="Zip" @bind-Value="@working.Zip" />
            </ValidatedField>
            <ValidatedField Legend="Country" ValidationMessageFor="@(() => working.Country)">
                <InputText placeholder="Country" @bind-Value="@working.Country" />
            </ValidatedField>
            @if (locationEnabled)
            {
                <ValidatedField Legend="Latitude" ValidationMessageFor="@(() => working.Latitude)">
                    <InputNumber placeholder="Latitude" step="0.0000001" @bind-Value="@working.Latitude" />
                </ValidatedField>
                <ValidatedField Legend="Longitude" ValidationMessageFor="@(() => working.Longitude)">
                    <InputNumber placeholder="Longitude" step="0.0000001" @bind-Value="@working.Longitude" />
                </ValidatedField>

            }
        </DataContent>
        <SecondaryContent>
            <section class="updateCancelButtons">
                <button type="button" @onclick="GetGeoLocation">Look up geo location</button>
                @if (locationEnabled)
                {
                    <button type="button" @onclick="OnCoordinateChange">Look up address</button>
                }
            </section>
@*             @if(working.Id>0)
            {
                <CascadingValue Value="working">
                    <FarmSubTabs></FarmSubTabs>
                </CascadingValue>
            } *@
        </SecondaryContent>
    </ValidatedForm>
}