@using Domain.Constants;
@using Domain.Models;
@using FrontEnd.Components.LandPlot;
@using FrontEnd.Components.Weather
@inherits DataComponent<FarmLocationModel>
<div class="FarmViewer">
    <CascadingValue Value="farm">
    @if (_editting)
    {
        
            <FarmEditor Cancelled="@(()=>EditComplete())" Submitted="@(()=>EditComplete(true))"></FarmEditor>
        
    }
    else{
        <section class="address">
            <button type="button" onclick="@(()=> ShowEditor())"><p>@farm.Name</p></button>
    
            <p>@farm.StreetAddress</p>
            <p>@farm.City</p>
            <p>@farm.State</p>
            <p>@farm.Zip</p>
            <p>@farm.Country</p>
        </section>
        <Weather @ref=_weather Latitude="@farm.Latitude" Longitude="@farm.Longitude"></Weather>
        <FarmSubTabs Submitted="StateHasChanged" ></FarmSubTabs>
    }
    </CascadingValue>
</div>
