@using Domain.Models;
@inherits DataComponent<FarmLocationModel>
@if (editContext is not null)
{
    <ValidatedForm editContext="editContext" 
        FreshenData="FreshenData"
        OnValidSubmit="OnSubmit" 
        Cancel="Cancel"
        showUpdateCancelButtons="true"
        createOnly="@(((FarmLocationModel)working).Id<1)"
        Modal="Modal"
Show="Show"
        @ref=_validatedForm>
        <DataContent>
            <ValidatedField Legend="Name" ValidationMessageFor="@(() => ((FarmLocationModel)working).Name)">
                <InputText placeholder="Name" @bind-Value="@(((FarmLocationModel)working).Name)" />
            </ValidatedField>
            <ValidatedField Legend="Address" ValidationMessageFor="@(() => ((FarmLocationModel)working).StreetAddress)">
                <InputText placeholder="Street Address" @bind-Value="@(((FarmLocationModel)working).StreetAddress)" />
            </ValidatedField>
            <ValidatedField Legend="City" ValidationMessageFor="@(() => ((FarmLocationModel)working).City)">
                <InputText placeholder="City" @bind-Value="@(((FarmLocationModel)working).City)" />
            </ValidatedField>
            <ValidatedField Legend="State" ValidationMessageFor="@(() => ((FarmLocationModel)working).State)">
                <InputText placeholder="State" @bind-Value="@(((FarmLocationModel)working).State)" />
            </ValidatedField>
            <ValidatedField Legend="Zip" ValidationMessageFor="@(() => ((FarmLocationModel)working).Zip)">
                <InputText placeholder="Zip" @bind-Value="@(((FarmLocationModel)working).Zip)" />
            </ValidatedField>
            <ValidatedField Legend="Country" ValidationMessageFor="@(() => ((FarmLocationModel)working).Country)">
                <InputText placeholder="Country" @bind-Value="@(((FarmLocationModel)working).Country)" />
            </ValidatedField>
            @if (locationEnabled)
            {
                <ValidatedField Legend="Latitude" ValidationMessageFor="@(() => ((FarmLocationModel)working).Latitude)">
                    <InputNumber placeholder="Latitude" step="0.0000001" @bind-Value="@(((FarmLocationModel)working).Latitude)" />
                </ValidatedField>
                <ValidatedField Legend="Longitude" ValidationMessageFor="@(() => ((FarmLocationModel)working).Longitude)">
                    <InputNumber placeholder="Longitude" step="0.0000001" @bind-Value="@(((FarmLocationModel)working).Longitude)" />
                </ValidatedField>

            }
        </DataContent>
        <SecondaryContent>
            <section class="updateCancelButtons">
                <button type="button" @onclick="GetGeoLocation">Look up geo location</button>
                @if (locationEnabled)
                {
                    <button type="button" @onclick="OnCoordinateChange">Look up address</button>
                }
            </section>
@*             @if(((FarmLocationModel)working).Id>0)
            {
                <CascadingValue Value="working">
                    <FarmSubTabs></FarmSubTabs>
                </CascadingValue>
            } *@
        </SecondaryContent>
    </ValidatedForm>
}