@using Domain.Models;
@inherits Editor<LivestockBreedModel>
<EditForm OnValidSubmit="OnSubmit" EditContext="@editContext">
    <DataAnnotationsValidator />
    <div class="dataSection">
        <ValidatedField Legend="Name" ValidationMessageFor="@(() => livestockBreed.Name)">
            <InputText placeholder="Name" @bind-Value="@livestockBreed.Name" />
        </ValidatedField>
        <ValidatedField Legend="Emoji" ValidationMessageFor="@(() => livestockBreed.EmojiChar)">
            <InputText placeholder="Emoji" @bind-Value="@livestockBreed.EmojiChar" />
        </ValidatedField>
        <ValidatedField Legend="Gestation Period (days)" ValidationMessageFor="@(() => livestockBreed.GestationPeriod)">
            <InputNumber placeholder="150" @bind-Value="@livestockBreed.GestationPeriod" />
        </ValidatedField>
        <ValidatedField Legend="Heat Period (days)" ValidationMessageFor="@(() => livestockBreed.HeatPeriod)">
            <InputNumber placeholder="30" @bind-Value="@livestockBreed.HeatPeriod" />
        </ValidatedField>
    </div>
</EditForm>