@using Domain.Constants;

@inherits DataComponent
<TabControl @ref="_tabControl" TabSelected="@(async() => await FreshenData())" SelectedTabPage="@app.SelectedTabs" SelectedTabPageKey="@nameof(LivestockBreedSubTabs)">
    <TabPage @ref="_livestockTab" Text="Livestock">
        <ButtonContent>
            <button type="button" class="@_tabControl.GetButtonClass(_livestockTab)" @onclick="@(() =>_tabControl.ActivatePage(_livestockTab))">Livestock</button>
        </ButtonContent>
        <ChildContent>
            @if (app?.dbContext?.Livestocks.Any(s => s.LivestockBreedId == livestockBreed.Id) ?? false)
            {
                <LivestockList @ref="_livestockList" Items="app.dbContext.Livestocks.Where(s=>s.LivestockBreedId==livestockBreed.Id).OrderBy(a=>a.Name).Select(l=>new Livestock.LivestockSummary(l,app.dbContext))"></LivestockList>
            }
            else
            {
                <LivestockEditor @ref="_livestockEditor" Submitted="@LivestockUpdated" showUpdateCancelButtons="true"></LivestockEditor>
            }
        </ChildContent>
    </TabPage>
</TabControl>