@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent
@if (app != null)
{
    @if (_editBreed is not null || !Items.Any())
    {
        <CascadingValue Value="_editBreed">
            <LivestockBreedEditor @ref="_breedEditor" Submitted="@BreedUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></LivestockBreedEditor>
        </CascadingValue>
    }
    else
    {
        <TableTemplate @ref="_listComponent" PageSize="0" TItem="LivestockBreedSummary"
                       Items="@Items"
                       MultiSelect="@Multiselect"
                       Selectable="@Selectable"
                       OnSelectionChange="@TableItemSelected"
                       CanDelete="@CanDelete"
                       RowDetailsShowing="@app.RowDetailsShowing["LivestockBreedList"]" 
                       NewItemName="Breed"
                       AddItemClicked="@(()=> EditBreed(0))">
            <ColumnContent>
                <Column TableItem="LivestockBreedSummary" Field="@(x => x.Id)" Title="ControlColumn">
                    <Template Context="e">
                        <div style="display:flex">
                            <CascadingValue Value="@e">
                                <button type="button" onclick="@(()=> _listComponent.ToggleRowDetailsShowing(e))">@(_listComponent.IsRowDetailsShowing(e) ? "Hide" : "Show") Details</button>
                                <ServiceLivestockCommand ></ServiceLivestockCommand>
                            </CascadingValue>
                            @if (CanDelete)
                            {
                                <button type="button">Delete</button>
                            }
                        </div>
                    </Template>
                </Column>
                <Column TableItem="LivestockBreedSummary" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true" >
                    <Template Context="e">
                        <button type="button" onclick="@(()=> EditBreed(e.Id))">@e.Name</button>
                        
                    </Template>
                </Column>
                <Column TableItem="LivestockBreedSummary" Field="@(x => x.Emoji)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockBreedSummary" Field="@(x => x.GestationPeriod)" Title="Gestation Period" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockBreedSummary" Field="@(x => x.HeatPeriod)" Title="Heat Period" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockBreedSummary" Field="@(x => x.LivestockCount)" Sortable="true" Filterable="true" UseInSuperSearch="true" Title="Number of Livestock" />
            </ColumnContent>
            <TableRowDetailTemplate>
                <CascadingValue Value="@(context as LivestockBreedSummary)">
                    <LivestockList Items="@app.dbContext.Livestocks.Where(s => s.LivestockBreedId == context.Id).Select(l=>new Livestock.LivestockSummary(l,app.dbContext))"></LivestockList>
                </CascadingValue>
            </TableRowDetailTemplate>
        </TableTemplate>
    }
}