@page "/Land"
@page "/Land/{landPlotId}"
@inherits ClientAppPage
@rendermode InteractiveWebAssembly
@using Domain.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using MicroAgManager.Client.Components.LandPlot


<PageTitle>Land</PageTitle>
<div class="Land">
    @if (_app.Initialized)
    {
        @if (_LandPlotCount == 1 || !string.IsNullOrEmpty(landPlotId))
        {
            @if (_editting)
            {
                <LandPlotEditor  editContext="_editPlot"  OnCancel="PlotEditCancelled" OnSubmit="PlotEditSubmitted" ></LandPlotEditor>
            }
            else 
            {
                <CascadingValue Value="LandPlot">
                    <LandPlotNameplate OnEditClick="@(()=>_editting=true)"></LandPlotNameplate>
                </CascadingValue>
            }
        }
        else
        {
            <LandPlotGrid farmNameFilterChanged="@((x) => {farmNameFilter=x; StateHasChanged();})"
                          parentPlotNameFilterChanged="@((x) => {parentPlotNameFilter=x; StateHasChanged();})"
                          plotNameFilterChanged="@((x) => {plotNameFilter=x; StateHasChanged();})"
                          usageFilterChanged="@((x) => {usageFilter=x; StateHasChanged();})"
                          Items="filteredLandPlotQuery()">
            </LandPlotGrid>
        }
    }
    else
    {
        <span>Initializing application </span>
    }
</div>


@code {
    [Parameter] public string landPlotId { get; set; }
    QuickGrid<LandPlotModel> LandPlotGrid;

    LandPlotModel LandPlot = new();

    private long _landPlotId = -1;
    private int _LandPlotCount = 0;
    string farmNameFilter;
    string parentPlotNameFilter;
    string usageFilter;
    string plotNameFilter;

    private EditContext _editPlot;
    private bool _editting = false;
    protected override void DbInitialized()=> InvokeAsync(SetEditContext);

    private async Task SetEditContext()
    {
        if (string.IsNullOrEmpty(landPlotId) || !_app.Initialized) return;
        _landPlotId = -1;
        long.TryParse(landPlotId, out _landPlotId);
        var query = await baseLandPlotQuery();
        LandPlot = await query.FirstOrDefaultAsync(l => l.Id == _landPlotId) ?? new();
        _editPlot = new EditContext(LandPlot);
        _editting = _landPlotId < 1;
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync() => await SetEditContext();

    private async Task PlotEditCancelled(EditContext context)
    {
        LandPlot = _landPlotId < 1? new():await GetLandPlotAsync(_landPlotId);
        _editPlot = new EditContext(LandPlot);
        StateHasChanged();
    }
    private async Task<LandPlotModel> GetLandPlotAsync(long id)
    {
        var db = await _app.GetDbContextAsync();
        return await db.LandPlots.Include(p => p.Subplots).Include(p => p.ParentPlot).Include(p => p.Farm).FirstAsync();
    }
    private void PlotEditSubmitted(EditContext context)
    {

    }
    private async Task<IQueryable<LandPlotModel>> baseLandPlotQuery()
    {
        var db = await _app.GetDbContextAsync();
        return db.LandPlots.Include(p=>p.Farm).AsQueryable();
    }
    private IQueryable<LandPlotModel> filteredLandPlotQuery()
    {
        var query = baseLandPlotQuery().Result;
        if (_landPlotId > 0)
            query = query.Where(p => p.Id == _landPlotId);
        else{
            if (!string.IsNullOrEmpty(plotNameFilter))
                query = query.Where(p => p.Name.Contains(plotNameFilter));
        }
        _LandPlotCount = query.Count();
        if (_LandPlotCount == 1)
        {
            LandPlot = query.First();
            StateHasChanged();
        }
        return query;
    }

}
