@layout MainLayout
@inherits DataComponent
@page "/"
@page "/Farms"
@page "/Farms/{farmId:long}"
<PageTitle>Farms</PageTitle>
<div style="max-height:100vh">

    @if (app?.dbContext is not null)
    {
        @if (@app.dbContext.Farms.Count() == 1)
        {
            <CascadingValue Value="@app.dbContext.Farms.First()">
                <FrontEnd.Components.Farm.FarmViewer  ></FrontEnd.Components.Farm.FarmViewer>
            </CascadingValue>
        }
        else
        {
            <FrontEnd.Components.Farm.FarmList Items="@app.dbContext.Farms.ToList()"></FrontEnd.Components.Farm.FarmList>
        }
    }
    

@* @if (selectedFarm is not null)
{
    @if (farmId.HasValue || (!app?.dbContext?.Farms.Any() ?? true ) || selectedFarm.Id<1)
    {
        <FrontEnd.Components.Farm.FarmEditor farmId="@farmId" Submitted="FarmLocationUpdated" Cancelled="Cancelled"></FrontEnd.Components.Farm.FarmEditor>
    }
    else
    {
        <CascadingValue Value="@selectedFarm">
            <FrontEnd.Components.Farm.FarmViewer></FrontEnd.Components.Farm.FarmViewer>
        </CascadingValue>
    }
} *@

</div>
