@using Domain.Models
@inherits DataComponent

@if (app != null)
{
    @if (_editLivestock is not null || !Items.Any())
    {
        <CascadingValue Value="_editLivestock">
            <LivestockEditor @ref="_livestockEditor" Submitted="@LivestockUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></LivestockEditor>
        </CascadingValue>
    }
    else
    {
        <TableTemplate @ref="_listComponent" PageSize="0" TItem="LivestockModel"
            Items="@Items"
            MultiSelect="@Multiselect"
            Selectable="@Selectable"
            OnSelectionChange="@TableItemSelected"
                       CanDelete="@CanDelete" 
                       RowDetailsShowing="@app.RowDetailsShowing["LivestockList"]"
                       NewItemName="@LivestockBreed.Name"
                       AddItemClicked="@(()=> EditLivestock(0))">
            <ColumnContent>
                <Column TableItem="LivestockModel" Field="@(x => x.Id)" Title="ControlColumn">
                    <Template Context="e">
                        <button type="button" onclick="@(()=> EditLivestock(e.Id))">Edit</button>
                        @if (CanDelete)
                        {
                            <button type="button">Delete</button>
                        }
                    </Template>
                </Column>
                <Column TableItem="LivestockModel" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.Gender)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.BatchNumber)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.Birthdate)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.Variety)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.BeingManaged)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.BottleFed)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.BornDefective)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.Sterile)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.ForSale)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
                <Column TableItem="LivestockModel" Field="@(x => x.Description)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            </ColumnContent>
            @* <TableRowDetailTemplate>
                <CascadingValue Value="@(context as LivestockAnimalModel)">
                    <LivestockAnimalSubTabs></LivestockAnimalSubTabs>
                </CascadingValue>
            </TableRowDetailTemplate> *@
        </TableTemplate>
    }
}