@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent<BreedingRecordModel>
@if (editContext is not null)
{
        <ValidatedForm editContext="editContext" 
        FreshenData="FreshenData"
        OnValidSubmit="OnSubmit" 
        Cancel="Cancel"
        showUpdateCancelButtons="showUpdateCancelButtons"
        createOnly="@(working.Id<1)"
        Modal="Modal"
        Show="Show"
        @ref=_validatedForm>
            <DataContent>
                <ValidatedField Legend="Service Date" ValidationMessageFor="@(() => working.ServiceDate)">
                    <InputDate @bind-Value="@working.ServiceDate" />
                </ValidatedField>
                <ValidatedField ValidationMessageFor="@(() => working.FemaleId)">
                        <LegendContent>
                            @LivestockAnimal.ParentFemaleName
                        </LegendContent>
                        <ChildContent>
                            <InputSelect @bind-Value="@working.FemaleId">
                                <option value="0">Select @LivestockAnimal.ParentFemaleName ...</option>
                                @foreach (var g in app.dbContext.Livestocks.Where(s => s.LivestockBreedId == livestockBreedId && s.Gender == GenderConstants.Female && !s.Sterile))
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </InputSelect>
                        </ChildContent>
                    </ValidatedField>
                <ValidatedField Legend="Male" ValidationMessageFor="@(() => working.MaleId)">
                        <LegendContent>
                            @LivestockAnimal.ParentMaleName
                        </LegendContent>
                        <ChildContent>
                            <InputSelect @bind-Value="@working.MaleId">
                                <option value="0">Select @LivestockAnimal.ParentMaleName ...</option>
                                @foreach (var g in app.dbContext.Livestocks.Where(s => s.LivestockBreedId==livestockBreedId && s.Gender == GenderConstants.Male && !s.Sterile))
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </InputSelect>
                        </ChildContent>
                    </ValidatedField>
            <ValidatedField Legend="Resolution" ValidationMessageFor="@(() => working.Resolution)">
                <InputSelect @bind-Value="@working.Resolution">
                    <option value="">Select Resolution ...</option>
                    <option value="@BreedingResolutionConstants.Success">@BreedingResolutionConstants.Success</option>
                    <option value="@BreedingResolutionConstants.NotImpregnated">@BreedingResolutionConstants.NotImpregnated</option>
                </InputSelect>
            </ValidatedField>
            @if (!string.IsNullOrEmpty(working.Resolution))
            {
                <ValidatedField Legend="Resolution Date" ValidationMessageFor="@(() => working.ResolutionDate)">
                    <InputDate @bind-Value="@working.ResolutionDate" />
                </ValidatedField>
                @if (working.Resolution == BreedingResolutionConstants.Success)
                {
                    <ValidatedField Legend="Males Born" ValidationMessageFor="@(() => working.BornMales)">
                        <InputNumber @bind-Value="@working.BornMales" />
                    </ValidatedField>
                    <ValidatedField Legend="Females Born" ValidationMessageFor="@(() => working.BornFemales)">
                        <InputNumber @bind-Value="@working.BornFemales" />
                    </ValidatedField>
                    <ValidatedField Legend="Stillborn Males" ValidationMessageFor="@(() => working.StillbornMales)">
                        <InputNumber @bind-Value="@working.StillbornMales" />
                    </ValidatedField>
                    <ValidatedField Legend="Stillborn Females" ValidationMessageFor="@(() => working.StillbornFemales)">
                        <InputNumber @bind-Value="@working.StillbornFemales" />
                    </ValidatedField>
                }
            }
            <ValidatedField Legend="Notes" ValidationMessageFor="@(() => working.Notes)">
                    <InputTextArea @bind-Value="working.Notes"></InputTextArea>
                </ValidatedField>
            </DataContent>
        </ValidatedForm>
}