@using Domain.Models;
@inherits DataComponent<TreatmentModel>
@if (app != null)
{

    <CascadingValue Value="_editTreatment">
        <TreatmentEditor Show=@(_editTreatment is not null) Modal=true @ref="_treatmentEditor" Submitted="@TreatmentUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></TreatmentEditor>
    </CascadingValue>
    <TableTemplate @ref="_listComponent" PageSize="0" TItem="TreatmentSummary"
                   Items="@Items"
                   MultiSelect="@Multiselect"
                   Selectable="@Selectable"
                   OnSelectionChange="@TableItemSelected"
                   CanDelete="@CanDelete"
                   RowDetailsShowing="@app.RowDetailsShowing["TreatmentList"]"
                   NewItemName="Treatment"
                   AddItemClicked="@(async ()=>await EditTreatment(0))">
        <ColumnContent>
            <Column TableItem="TreatmentSummary" Field="@(x => x.Id)" Title="ControlColumn">
                <Template Context="e">
                    <button type="button" onclick="@(()=> EditTreatment(e.Id))">Edit</button>
                    @if (CanDelete)
                    {
                        <button type="button">Delete</button>
                    }
                </Template>
            </Column>
            <Column TableItem="TreatmentSummary" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.BrandName)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.Reason)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.LabelMethod)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.DosageAmount)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.DosageUnit)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.MeatWithdrawal)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.MilkWithdrawal)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.Frequency)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.FrequencyUnit)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.Duration)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.DurationUnit)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.RecipientMass)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="TreatmentSummary" Field="@(x => x.RecipientMassUnit)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
        </ColumnContent>
    </TableTemplate>
}
