@using BackEnd.BusinessLogic.Livestock;
@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent<LivestockBreedModel>
@if (editContext is not null)
{
    <CommandButton editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   Command="Service"
                   showUpdateButton="@serviceLivestock.DamIds.Any()" @ref=_commandButton>
        <DataContent>
            <ValidatedField Legend="Service Date" ValidationMessageFor="@(() => serviceLivestock.ServiceDate)">
                <InputDate @bind-Value="@serviceLivestock.ServiceDate" />
            </ValidatedField>
            <ValidatedField CssClass="firstColumn" Legend="Male" ValidationMessageFor="@(() => serviceLivestock.StudId)">
                <InputText placeholder="Select Male..." @bind-Value="@StudName" list="studList" autocomplete="on" />
                <datalist id="studList">
                    @foreach (var g in app.dbContext.Livestocks.Where(l => l.LivestockBreedId == LivestockBreed.Id && !l.Sterile && l.Gender == GenderConstants.Male).OrderBy(m => m.Name))
                    {
                        <option value="@g.Name" />
                    }
                </datalist>
            </ValidatedField>
            <ValidatedField CssClass="secondColumn" Legend="Females" ValidationMessageFor="@(() => serviceLivestock.DamIds)">
                <ul>
                    @foreach(var g in app.dbContext.Livestocks.Where(l => serviceLivestock.DamIds.Contains(l.Id)).OrderBy(f=>f.Name))
                    {
                        <li onclick="@(()=>RemoveFemale(g.Id))">@g.Name</li>
                    }
                </ul>
                <InputText placeholder="Select Female..." @bind-Value="@FemaleName" list="femaleList" autocomplete="on" />
                <datalist id="femaleList">
                    @foreach (var g in app.dbContext.Livestocks.Where(l => l.LivestockBreedId == LivestockBreed.Id && !l.Sterile && l.Gender == GenderConstants.Female && !serviceLivestock.DamIds.Contains(l.Id)).OrderBy(f => f.Name))
                    {
                        <option value="@g.Name" />
                    }
                </datalist>
            </ValidatedField>
            <ValidatedField CssClass="fullWidth" Legend="Notes" ValidationMessageFor="@(() => serviceLivestock.Notes)">
                <InputTextArea @bind-Value="@serviceLivestock.Notes" />
            </ValidatedField>
        </DataContent>
    </CommandButton>
}