@using Domain.Models
@inherits DataComponent<LandPlotModel>

@if (app != null)
{
    <CascadingValue Value="_editPlot">
        <LandPlotEditor Show=@(_editPlot is not null) @ref="_landPlotEditor" Modal=true Submitted="@LandPlotUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></LandPlotEditor>
    </CascadingValue>
    <TableTemplate @ref="_listComponent" PageSize="0" TItem="LandPlotSummary"
                   Items="@Items" 
        MultiSelect="@Multiselect" 
        Selectable="@Selectable" 
        OnSelectionChange="@TableItemSelected"
        CanDelete="@CanDelete"
        NewItemName="Plot"
        AddItemClicked="@(()=> EditPlot(0))">
        <ColumnContent>
            <Column TableItem="LandPlotSummary" Field="@(x => x.Id)" Title="ControlColumn">
                <Template Context="e">
                    <button type="button" onclick="@(()=> EditPlot(e.Id))">Edit</button>
                    @if (CanDelete)
                    {
                        <button type="button">Delete</button>    
                    }
                </Template>
            </Column>
            <Column TableItem="LandPlotSummary" Field="@(x => x.Name)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LandPlotSummary" Field="@(x => x.Usage)" Title="Plot Use" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LandPlotSummary" Field="@(x => x.Description)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="LandPlotSummary" Field="@(x => x.Area)" Sortable="true" Filterable="true" UseInSuperSearch="true" />
        </ColumnContent>
    </TableTemplate>
}