@if (editContext is not null)
{
    @if (Modal)
    {
        @if (Show)
        {
            <div class="modalContainer">
                <dialog open="true">
                    <h1>@Title</h1>
                    <EditForm EditContext="@editContext" OnSubmit="OnSubmit" class="@CssClass">
                        <DataAnnotationsValidator />
                        <section class="dataSection">
                            @ChildContent
                        </section>
                        @if (SecondaryContent is not null)
                        {
                            <section class="secondaryContent">
                                @SecondaryContent
                            </section>
                        }
                        @if (showUpdateCancelButtons)
                        {
                            <section class="updateCancelButtons">
                                <button type="submit">@(createOnly ? "Create" : "Update")</button>
                                <button type="button" @onclick="@(()=>OnCancel.InvokeAsync(editContext))">Cancel</button>
                            </section>
                        }
                    </EditForm> 
                </dialog>
            </div>
        }
    }
    else
    {
        <h1>@Title</h1>
        <EditForm EditContext="@editContext" OnSubmit="OnSubmit" class="@CssClass">
            <DataAnnotationsValidator />
            <section class="dataSection">
                @ChildContent
            </section>
            @if (SecondaryContent is not null)
            {
                <section class="secondaryContent">
                    @SecondaryContent
                </section>
            }
            @if (showUpdateCancelButtons)
            {
                <section class="updateCancelButtons">
                    <button type="submit">@(createOnly ? "Create" : "Update")</button>
                    <button type="button" @onclick="@(()=>OnCancel.InvokeAsync(editContext))">Cancel</button>
                </section>
            }

         </EditForm>
    }
}