@using Domain.Constants;
@using Domain.Models;
@using FrontEnd.Components.Duty;
@inherits DataComponent<MilestoneModel>
@if (editContext is not null)
{
    <ValidatedForm editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   showUpdateCancelButtons="true"
                   createOnly="@(working.Id<1)"
                   Modal="Modal"
Show="Show"

    @ref=_validatedForm>
        <DataContent>
            @if (working.RecipientTypeId <= 0)
            {
                <ValidatedField Legend="Livestock Type" ValidationMessageFor="@(() => working.RecipientTypeId)">
                    <InputSelect @bind-Value="@working.RecipientTypeId">
                        @if (working.RecipientType == RecipientTypeConstants.LivestockAnimal)
                        {
                            <option value="0">Select Livestock Type ...</option>
                            @foreach (var state in app.dbContext.LivestockAnimals.OrderBy(a => a.Name))
                            {
                                <option value="@state.Id">@state.Name</option>
                            }
                        }
                    </InputSelect>
                </ValidatedField>
            }
            <ValidatedField Legend="Milestone" ValidationMessageFor="@(() => working.Name)">
                <InputText placeholder="Milestone" @bind-Value="@working.Name" />
            </ValidatedField>
            <ValidatedField Legend="Description" ValidationMessageFor="@(() => working.Description)">
                <InputTextArea placeholder="Description" @bind-Value="@working.Description" />
            </ValidatedField>
            <ValidatedField ValidationMessageFor="@(() => working.Duties)">
                <LegendContent>
                    <div style="display:inline-flex">
                        <span>Duties</span><button type="button" @onclick=ShowDutyEditor>+</button>
                        <CascadingValue Value="_editDuty">
                            <DutyEditor Show=@showDutyModal showUpdateCancelButtons="true" @ref=_dutyEditor Modal="true" Submitted="DutyCreated" Cancelled="DutyCanceled"></DutyEditor>
                        </CascadingValue>
                    </div>
                </LegendContent>
                
                <ChildContent>
                    <ul>
                        @foreach (var g in app.dbContext.Duties.Where(l => working.Duties.Contains(l)))
                        {
                            <li><button type="button" @onclick=@(()=> DutyRemoved(g))>-</button> @g.Name</li>
                        }
                    </ul>
                    <select @onchange="DutySelected">
                        <option value="">Select Duty ...</option>
                        @foreach (var g in app.dbContext.Duties.Where(l => !working.Duties.Contains(l)))
                        {
                            <option value="@g.Id">@g.Name</option>
                        }
                    </select>
                </ChildContent>
            </ValidatedField>
        </DataContent>
    </ValidatedForm>
}