@inherits DataComponent
@using Domain.Models
@if (app != null)
{
    @if (_editScheduledDuty is not null || !Items.Any())
    {
        <CascadingValue Value="_editScheduledDuty">
            <ScheduledDutyEditor @ref="_scheduledDutyEditor" Modal="true" Submitted="@ScheduledDutyUpdated" Cancelled="@EditCancelled" showUpdateCancelButtons="true"></ScheduledDutyEditor>
        </CascadingValue>
    }
    <TableTemplate @ref="_listComponent" PageSize="0" TItem="ScheduledDutySummary"
    Items="@Items" 
        MultiSelect="@Multiselect" 
        Selectable="@Selectable"
        OnSelectionChange="@TableItemSelected"
        RowDetailsShowing="@app.RowDetailsShowing["ScheduledDutyList"]"
                    AddItemClicked="@(async ()=>await EditScheduledDuty(0))">
        <ColumnContent>
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.Id)" Title="ControlColumn">
                <Template Context="e">
                    <button type="button" onclick="@(()=> EditScheduledDuty(e.Id))">Edit</button>
                </Template>
            </Column>
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.Duty)" Title="Duty" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.DueOn)" Title="Due On" Format="MM/dd/yyyy" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.Recipient)" Title="Recipient" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.Record)" Title="Record" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.Dismissed)" Title="Dismissed" Sortable="true" Filterable="true" UseInSuperSearch="true" />
            <Column TableItem="ScheduledDutySummary" Field="@(x => x.Completed)" Title="Completed On" Format="MM/dd/yyyy" Sortable="true" Filterable="true" UseInSuperSearch="true" />
        </ColumnContent>
    </TableTemplate>
}
