@using Domain.Constants;
@using FrontEnd.Components.Shared
@if (app?.dbContext is not null)
{
    <Wizard Id="@this.GetType().Name" @ref=@wizard ShowAdvancementButtons="@ShowButtons" CanStepAdvance="@CanStepAdvance" CanStepRepeat="@CanStepRepeat">
        <WizardStep Name="@Step1" >
            <p>Please enter information about your farm</p>
            <FarmEditor @ref="farmEditor" farmId="@farm.Id" farmName="@farm.Name" Submitted="@FarmLocationUpdated"></FarmEditor>
        </WizardStep>
        <WizardStep Name="@Step2" IsRepeating="true">
                <CascadingValue Value="farm">
                <p>Tell us about your land</p>
                    @if (app.dbContext.LandPlots.Any(p=>p.FarmLocationId==farm.Id))
                    {
                        <LandPlotList @ref="landPlotList" Items="app.dbContext.LandPlots.Where(p=>p.FarmLocationId==farm.Id)" Selectable="true" PlotSelected="@LandPlotSelected" CanDelete=true></LandPlotList>
                    }
                    <LandPlotEditor @ref="landPlotEditor" Submitted="@LandPlotUpdated" landPlotId="@landPlotId" createOnly="true"></LandPlotEditor>
            </CascadingValue>
        </WizardStep>
        @if (app.dbContext.LandPlots.Where(p => p.FarmLocationId == farm.Id).Any(l => l.Usage == LandPlotUseConstants.Livestock))
        {
            <WizardStep Name="@Step3">
                <CascadingValue Value="farm">
                    <p>What kind of livestock are you raising?</p>
                </CascadingValue>
            </WizardStep>
        }
        <WizardStep Name="@Step4">
            <p>Complete</p>
        </WizardStep>
    </Wizard>
}
