@using Domain.Constants;
<article>
    @if(dbContext is not null)
    {
            <h3>Welcome @tenant.Name</h3>
             @if(Step == (int)Steps.FarmLocation)
            {
                <p>Please enter information about your farm's location</p>
                <FarmEditor @ref="farmEditor" farmId="@farm.Id" farmName="@farm.Name" Submitted="@FarmLocationUpdated"></FarmEditor>
            }
            @if (Step == (int)Steps.MainPlot)
            {
                <p>Tell us about your land</p>
                <CascadingValue Value="farm">
                    <LandPlotEditor @ref="landPlotEditor" landPlotId="@landPlot.Id" Submitted="@LandPlotUpdated"></LandPlotEditor>
                </CascadingValue>
            }
            @if (Step == (int)Steps.FarmProduction)
            {
                if (landPlot.Usage == LandPlotUseConstants.GeneralUse)
                { 
                    <p>What would you like to produce on your farm?</p>
                    <select @bind=farmProduction>
                        <option value="">Select Product ...</option>
                        <option value="@LandPlotUseConstants.Livestock">@LandPlotUseConstants.Livestock</option>
                    </select>
                }
                if (farmProduction == LandPlotUseConstants.Livestock || landPlot.Usage == LandPlotUseConstants.Livestock)
                {
                    <CascadingValue Value="livestockType">
                        <AddLivestockTypeWizard Completed="@LivestockTypeWizardCompleted"></AddLivestockTypeWizard>
                    </CascadingValue>
                }
            }
            @if (ShowPrevious())
            {
                <button @onclick="Prev" type="button">Prev</button>
            }
            @if (ShowNext())
            {
                <button @onclick="Next" type="submit">Next</button>
            }
    }
</article>
