@using Domain.Constants;
@using FrontEnd.Components.Shared
@if (dbContext is not null && livestockType is not null)
{
    <Wizard Id="@this.GetType().Name" @ref=@wizard ShowAdvancementButtons="@ShowButtons" CanStepAdvance="@CanStepAdvance">
        <WizardStep Name="@Step1" >
            <p>Please enter information about your farm</p>
            <FarmEditor @ref="farmEditor" farmId="@farm.Id" farmName="@farm.Name" Submitted="@FarmLocationUpdated"></FarmEditor>
        </WizardStep>

        <WizardStep Name="@Step2">
            <p>Tell us about your land</p>
            <CascadingValue Value="farm">
                <LandPlotEditor @ref="landPlotEditor" landPlotId="@landPlot.Id" Submitted="@LandPlotUpdated"></LandPlotEditor>
            </CascadingValue>
        </WizardStep>
        <WizardStep Name="@Step3">
            @if (landPlot.Usage == LandPlotUseConstants.GeneralUse)
            {
            <p>What would you like to produce on your farm?</p>
            <select @bind=farmProduction>
                <option value="">Select Product ...</option>
                <option value="@LandPlotUseConstants.Livestock">@LandPlotUseConstants.Livestock</option>
            </select>
            }
            @if (farmProduction == LandPlotUseConstants.Livestock || landPlot.Usage == LandPlotUseConstants.Livestock)
            {
                <CascadingValue Value="livestockType">
                    <AddLivestockTypeWizard Completed="@LivestockTypeWizardCompleted" IsNestedWizard="true"></AddLivestockTypeWizard>
                </CascadingValue>
            }
        </WizardStep>
        <WizardStep Name="@Step4">
        </WizardStep>
    </Wizard>
}
