@using Domain.Constants;
@using FrontEnd.Components.Shared
@if (app?.dbContext is not null)
{
    <Wizard Id="@this.GetType().Name" @ref=@wizard ShowAdvancementButtons="@ShowButtons" CanStepAdvance="@CanStepAdvance" CanStepRepeat="@CanStepRepeat">
        <WizardStep Name="@Step1" >
            <p>Please enter information about your farm</p>
            <FarmEditor @ref="farmEditor" farmId="@farm.Id" farmName="@farm.Name" Submitted="@FarmLocationUpdated"></FarmEditor>
        </WizardStep>
@*        <WizardStep Name="@Step2" IsRepeating="true">
            <p>Tell us about your land</p>
            <CascadingValue Value="farm">
                <LandPlotList @ref="landPlotList" Items="app.dbContext.LandPlots.Where(p=>p.FarmLocationId==farm.Id)" Selectable="true" PlotSelected="@LandPlotSelected"></LandPlotList>
                @if (app.dbContext.LandPlots.Any(p=>p.FarmLocationId==farm.Id))
                {
                    <LandPlotEditor @ref="landPlotEditor" Submitted="@LandPlotUpdated" landPlotId="@landPlotId" createOnly="@landPlotLooping" ></LandPlotEditor>
                }
            </CascadingValue>
        </WizardStep>
           <WizardStep Name="@Step3">
               <CascadingValue Value="farm">
                @if (LandPlotUseConstants.Livestock==landPlotUsage)
                {
                    <CascadingValue Value="livestockType">
                        <AddLivestockTypeWizard Completed="@LivestockTypeWizardCompleted" IsNestedWizard="true"></AddLivestockTypeWizard>
                    </CascadingValue>
                }
                </CascadingValue>
            </WizardStep>*@
    </Wizard>
}
